.gender {
    float: left;
    margin-top: 5px;
}

.disability {
    float: left;
    margin-top: 5px;
}

.container {
    background: #f8f9fb;
    padding-bottom: 10px;
    box-shadow: 3px -1px 6px 1px #666666;
}

.btn.btn-primary {
    width: 130px;
    font-weight: 700;
    font-family: inherit;
    font-size: 18px;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 0px !important;
    box-shadow: 3px -1px 6px 1px #666666;
}

@media screen and (max-height: 568px) {
    .container {
        position: absolute;
        top: 70%;
    }
}

@media only screen and (min-height: 569px) and (max-width: 640px) {
    .container {
        position: absolute;
        top: 63%;
    }
}

@media only screen and (min-height: 641px) and (max-width: 731px) {
    .container {
        position: absolute;
        top: 60%;
    }
}


/* @media screen and (max-width: 762px) {
    .container {
        position: absolute;
        top: 63%;
        transform: translate(-50%, -63%);
    }
} */