<div class="auth-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xs-6">
        <h1 *ngIf="!isUpdate" class="text-xs-center">Signup</h1>
        <h1 *ngIf="isUpdate" class="text-xs-center">Edit Profile</h1>
        <p class="text-xs-center">
          <a *ngIf="!isUpdate" [routerLink]="['/account/login']">Have an account?</a>
        </p>
        <form [formGroup]="signupForm" name="signupForm">
          <div class="sub-sec row">
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" formControlName="firstName" class="form-control" id="firstname" />
                <div class="text-danger" *ngIf="
                    submitted &&
                    firstName.errors &&
                    firstName.errors['required']
                  ">
                  <small>*First name is required*</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" formControlName="surname" class="form-control" id="surname" />
                <div class="text-danger" *ngIf="
                    submitted && surname.errors && surname.errors['required']
                  ">
                  <small>*Surname is required*</small>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-sec row">
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="phone">Date of birth</label>
                <div class="input-group">
                  <input type="date" formControlName="dob" class="form-control" placeholder="yyyy-mm-dd" name="dp" />
                  <div class="text-danger" *ngIf="submitted && dob.errors && dob.errors['required']">
                    <small>*Date is required*</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <div><label for="phone">Gender</label></div>
                <div class="gender col-md-6 col-xs-1">
                  Male
                  <input formControlName="gender" type="radio" value="Male" />
                </div>
                <div class="gender col-md-6 col-xs-1">
                  Female
                  <input formControlName="gender" type="radio" value="Female" />
                </div>
                <div class="text-danger" *ngIf="
                    submitted && gender.errors && gender.errors['required']
                  ">
                  <small>*Gender is required*</small>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-sec row">
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text" formControlName="phone" class="form-control" id="phone" />
                <div class="text-danger" *ngIf="submitted && phone.errors && phone.errors['required']">
                  <small>*Phone number is required*</small>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" id="email" />
                <div class="text-danger" *ngIf="submitted && email.errors">
                  <div calss="text-danger" *ngIf="email.errors['required']">
                    <small>*Email is required*</small>
                  </div>
                  <div calss="text-danger" *ngIf="email.errors['email']">
                    <small>*Please use a valid email address*</small>
                  </div>
                </div>
                <div class="text-danger" *ngIf="submitted && email.errors && email.errors['email']"></div>
              </div>
            </div>
          </div>
          <div class="sub-sec row" *ngIf="!isUpdate">
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" />
                <div class="text-danger" *ngIf="submitted && password.errors">
                  <small *ngIf="password.errors['required']">*Password is required*</small>
                  <small *ngIf="password.errors['minlength']">*Minimum length of 4 characters is allowed*</small>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="confPassword">Confirm password</label>
                <input type="password" formControlName="confPassword" class="form-control" id="confPassword" />
                <div class="text-danger" *ngIf="
                    confPassword.touched && confPassword.hasError('notMatch')
                  ">
                  <small>*Your password doesnt match*</small>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-sec row">
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="photo">Upload your photo
                  <small>*please use jpeg file type*</small></label>
                <input type="file" formControlName="photo" (change)="onFileSelect($event)" class="form-control-file"
                  id="photo" />
              </div>
            </div>
            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <div><label for="disability">Disability ?</label></div>
                <div class="disability col-md-6 col-xs-1">
                  Yes
                  <input formControlName="disability" type="radio" value="True" />
                </div>
                <div class="disability col-md-6 col-xs-1">
                  No
                  <input formControlName="disability" type="radio" value="False" />
                </div>
                <div class="text-danger" *ngIf="
                    submitted &&
                    disability.errors &&
                    disability.errors['required']
                  ">
                  <small>*This field is required*</small>
                </div>
              </div>
            </div>
          </div>

          <div class="sub-sec">
            <button *ngIf="!isUpdate" type="submit" class="btn btn-primary" (click)="submit()">
              Signup
            </button>
            <button *ngIf="isUpdate" type="submit" class="btn btn-primary" (click)="submit()">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>