.form-inline .form-group {
    padding-left: 0%;
}

.main {
    background-color: white;
    padding: 1%;
}

td,
th {
    font-size: 13px;
    vertical-align: middle;
}

span {
    font-size: 13px;
}
p {
    font-size: 13px;
    padding-left: 1%;
}

.table .thead-light th {
    color: #ffffff;
    background-color: #31434b;
    border-color: #dee2e6;
}

.btns {
    float: left;
}