<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
  <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<form>
  <div class="main">
    <div>
      <p *ngIf="service.dataSource.length > 0">
        Screening for : <b><u>{{ Applications[0].Title | uppercase }}</u></b>
      </p>
      <p *ngIf="service.dataSource.length > 0">
        Post Date : <b><u>{{ Applications[0].post_date | date }}</u></b>
      </p>
      <p *ngIf="service.dataSource.length > 0">
        Current Screening :
        <b><u>
            <span
              *ngIf="Applications.length > 0 && Applications[0].Shortlist !== null">({{ Applications[0].Shortlist }})
            </span>
            <span *ngIf="Applications.length > 0 && Applications[0].Shortlist === null">(PRELIMINARY)</span>
          </u></b>
      </p>
    </div>
    <p>
      <span>
        <select class="custom-select" style="width: auto" [formControl]="vacancy"
          (change)="load_Application(vacancy.value)">
          <option value="" disabled selected hidden>-- Select vacancy --</option>
          <option [ngValue]="vacancy.value" *ngFor="let vacancy of Vacancies; let i = index">
            {{vacancy.text}} => {{vacancy.date | date}}</option>
        </select>
        <i class="fa fa-spinner fa-spin fa-fw ml-2" *ngIf="service.loading$ | async"></i>
      </span>
      <span>
        <button class="btn btn-outline-success mr-2 ml-2"
          *ngIf="selectedApplicants.length > 0 && current_Step === 'First'"
          (click)="takeAction('Pass','Submit')">Approve</button>

        <button class="btn btn-outline-danger mr-2 ml-2" *ngIf="selectedApplicants.length > 0"
          (click)="takeAction('Failed','Drop')">Drop Application</button>
      </span>

      <span style="float: right;">
        <input class="form-control" type="text" name="searchTerm" placeholder="search"
          [disabled]="Applications.length === 0" [(ngModel)]="service.searchTerm" />
      </span>
    </p>
    <p></p>
    <table class="table table-hover table-sm">
      <thead class="thead-light">
        <tr align="center">
          <th>
            <input type="checkbox" [formControl]="chboxMultiple" (change)="select_multiple(chboxMultiple.value)"
              *ngIf="service.dataSource.length > 0" [checked]="Applications.length === selectedApplicants.length" />
          </th>
          <th scope="col">#</th>
          <th scope="col" sortable="Photo" (sort)="onSort($event)">Photo</th>
          <th scope="col" sortable="FirstName" (sort)="onSort($event)">
            First Name
          </th>
          <th scope="col" sortable="Surname" (sort)="onSort($event)">
            Middle Name
          </th>
          <th scope="col" sortable="Date" (sort)="onSort($event)">
            Submission Date
          </th>
          <th scope="col" sortable="Status" (sort)="onSort($event)">
            Application Status
          </th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications$ | async; let i = index" align="center">
          <td>
            <input type="checkbox" [formControl]="chboxSingle"
              (change)="select_Applicant(i,application.id,chboxSingle.value)" [checked]="multi_selection" />
          </td>
          <td scope="row">{{ i + 1 }}</td>
          <td>
            <span *ngIf="!application.Photo && application.Gender === 'Female'">
              <img src="../../../assets/no_photo_female.png" class="mr-2" style="width: 50px; height: 50px" />
            </span>
            <span *ngIf="!application.Photo && application.Gender === 'Male'">
              <img src="../../../assets/no_photo_male.png" class="mr-2" style="width: 50px; height: 50px" />
            </span>
            <span *ngIf="application.Photo">
              <img [src]="application.Photo" class="mr-2" style="width: 50px; height: 50px" />
            </span>
          </td>
          <td>
            <ngb-highlight [result]="application.FirstName | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="application.Surname | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="application.Date | date" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <ngb-highlight [result]="application.Status | titlecase" [term]="service.searchTerm"></ngb-highlight>
          </td>
          <td>
            <input type="button" class="btn btn-outline-primary btn btn-sm" value="Details"
              (click)="ShowDetail(application.id)" id="{{application.id}}" />
          </td>
        </tr>
        <tr *ngIf="service.dataSource.length === 0" align="center">
          <td colspan="10">
            --- Select Vacancy or Data May not be Available ---
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2" *ngIf="service.dataSource.length > 0">
      <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>

      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
        <option [ngValue]="50">50 items per page</option>
        <option [ngValue]="">Show all</option>
      </select>
    </div>
  </div>
</form>