<p></p>
<smart-recruitment-frontend-data-table [gridData]="reports" [searchField]="searchField" [showFilter]="true"
    [showSearch]="true" [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar"
    [columens]="columensToDisplay" (deleteRecord)="delete($event)" (editRecord)="edit($event)"
    [height]="600" [editPrivilage]="'editVacancy'" [deletePrivilage]="'deleteVacancy'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>
