<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formArrayName="Lookups" class="card">
        <div *ngFor="let lookup of get_Lookups.controls; let i = index; let j = last">
            <div [formGroupName]="i">
                <div class="form-inline">
                    <div class="col-3 data-row">
                        <div class="form-group mx-sm-3 mb-1">
                            <ejs-dropdownlist id="ddlelement" [dataSource]="title_Data" [fields]="fields" placeholder="Title" floatLabelType="Auto" formControlName="Title">
                            </ejs-dropdownlist>
                        </div>
                    </div>
                    <div class="col-3 data-row">
                        <div class="form-group mx-sm-3 mb-1">
                            <ejs-textbox formControlName="Value" placeholder="Value" floatLabelType="Auto"></ejs-textbox>
                        </div>
                    </div>
                    <div class="col-3 data-row">
                        <div class="form-group mx-sm-3 mb-1">
                            <ejs-textbox formControlName="Details" placeholder="Details" floatLabelType="Auto"></ejs-textbox>
                        </div>
                    </div>
                    <div class="form-group mx-sm-3 mb-1 data-row">
                        <button [disabled]="get_Lookups.controls.length === 1" type="button" ejs-button cssClass="e-danger" (click)="Remove_lookup(i)">
              remove
            </button>
                    </div>
                    <div class="form-group mx-sm-3 mb-1 data-row" *ngIf="j">
                        <div class="float-right">
                            <button ejs-button cssClass="e-success" (click)="add_Lookup()">
                add
              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row save-button">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [buttonText]="'Save'"></smart-recruitment-frontend-form-option>
                </div>
            </div>
        </div>
    </div>
    <br />
</form>