.card {
    margin-top: 2%;
    padding: 2%;
}

.not-invalid {
    border: 1px solid rgba(247, 1, 1, 0.692);
}

div .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.save-button {
    padding-top: 20px;
    padding-left: 10px;
}

#ddlelement,
.e-textbox {
    width: 100%;
}

.data-row {
    padding-top: 5px;
}