/* You can add global styles to this file, and also import other style files */

@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-navigations/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-lists/styles/material.css';

/* @import '../../../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css'; */

@import '../../../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-treegrid/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-angular-notifications/styles/material.css';

body {
  background: aliceblue;
}

.e-expand::before {
  content: '\e919';
}

.e-collapse::before {
  content: '\e918';
}

.e-create::before {
  content: '\e823';
}

.e-BT_Excelfilter::before {
  content: '\e251';
}

.e-toolbar-items.e-tbar-pos {
  background: #31434bdb !important;
}

.e-tbar-btn.e-tbtn-txt.e-control.e-btn.e-lib {
  background: #cfe0d3;
}

.e-tbar-btn.e-tbtn-txt.e-control.e-btn.e-lib:hover {
  background: #31434bdb;
}

#grid_516562893_0_toolbarItems {
  background: #31434bdb !important;
}

.e-toolbar-items {
  background: #31434b00 !important;
}

.e-input-group.e-search {
  background: white !important;
}

.e-Excel_Export::before {
  content: '\e242';
}


.e-MT_Preview:before {
  content: "\e345";
}