<smart-recruitment-frontend-report-option (GridInfo)="loadData($event)" [saved_report]="saved_report"></smart-recruitment-frontend-report-option>
<p></p>
<smart-recruitment-frontend-data-table [gridData]="GridData" [incomingToolbar]="incomingToolbar"
    [allowExporttoExcel]="true" [showPrint]="true" [showExcelExport]="true" [columens]="columnsToDisplay" [height]="500">
</smart-recruitment-frontend-data-table>