<div class="modal-header">
  <span *ngIf="!isLoggedIn"
    ><b>You have to login to apply</b
    ><button (click)="linkToLogin()" class="btn apply register">
      Login here
    </button></span
  >
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngIf="isLoggedIn">
        <div class="card-body">
          <p *ngIf="myCvs.length != 0" class="text-xs-center">
            <b>Choose your cv and apply</b>
          </p>
          <p *ngIf="myCvs.length == 0" class="text-xs-center">
            <b
              >No CV found! please
              <a
                [routerLink]="['/cv/create']"
                (click)="activeModal.dismiss('Cross click')"
                >create</a
              >
              first</b
            >
          </p>
          <form [formGroup]="applyForm" name="applyForm">
            <div class="form-group">
              <select
                class="form-control"
                formControlName="cv"
                id="exampleFormControlSelect1"
                value="Diploma"
              >
                <option *ngFor="let cv of myCvs; let i = index" [value]="cv.id">
                  {{ cv.Title }}</option
                >
              </select>
              <div
                class="text-danger"
                *ngIf="cv.errors && cv.errors['required']"
              >
                <small>*CV is required*</small>
              </div>
            </div>
          </form>
          <button type="button" class="btn apply" (click)="apply()">
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
