.btn.apply {
    background: #155724;
    color: #ffc107;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.modal-header {
    background: #ffc107;
}

.register {
    margin-left: 10px;
}