<div [formGroup]="qualificationForm">
    <div formArrayName="qualificationArray" class="main-container">
        <div class="section" *ngFor="let q of qualifications.controls; let i = index; let last = last" [formGroup]="q">
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="Qualification">Qualification</label>
                        <select class="form-control" formControlName="qualification" id="exampleFormControlSelect1" value="Diploma">
              <option
                *ngFor="let qual of qualificationList; let i = index"
                [value]="qual.value"
              >
                {{ qual.text }}</option
              >
            </select>
                        <div class="text-danger" *ngIf="
                submitted &&
                q.errors &&
                q.get('qualification').errors['required']
              ">
                            <small>*Qualification is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="institution">Institution</label>
                        <input type="text" formControlName="institution" class="form-control" id="institution" />
                        <div class="text-danger" *ngIf="
                submitted && q.errors && q.get('institution').errors['required']
              ">
                            <small>*Institution is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-1 buttons">
                    <button (click)="addQualification()" *ngIf="last" [ngClass]="q.invalid ? 'btn-warning' : 'btn-primary'" [disabled]="q.invalid" class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
                    <button class="btn btn-danger" (click)="deleteQualification(i)">
            <i class="fa fa-trash "></i>
          </button>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-4 col-xs-1">
                    <div class="form-group">
                        <label for="Qualification">Field of study</label>
                        <select class="form-control" formControlName="fieldOfStudy" id="exampleFormControlSelect1">
              <option
                *ngFor="let qual of fieldOfStudyList; let i = index"
                [value]="qual.value"
              >  
                {{ qual.text }}</option
              >
            </select>
                        <div class="text-danger" *ngIf="
                submitted &&
                q.errors &&
                q.get('fieldOfStudy').errors['required']
              ">
                            <small>*Field of study is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-1">
                    <div class="form-group">
                        <label for="start-date">From</label>
                        <div class="input-group">
                            <input type="date" formControlName="startDate" class="form-control" placeholder="yyyy-mm-dd" name="start-date" />
                            <div class="text-danger" *ngIf="
                  submitted && q.errors && q.get('startDate').errors['required']
                ">
                                <small>*Start date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-1">
                    <div class="form-group">
                        <label for="end-date">To</label>
                        <div class="input-group">
                            <input type="date" formControlName="endDate" class="form-control" placeholder="yyyy-mm-dd" name="end-date" />
                            <div class="text-danger" *ngIf="
                  submitted && q.errors && q.get('endDate').errors['required']
                ">
                                <small>*End date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button type="button" (click)="addQualification()" class="btn btn-success" *ngIf="qualifications.length == 0">
    <i class="fa fa-plus ">Add</i>
  </button>
</div>