<ngb-alert
  *ngIf="System_Message.show"
  [type]="System_Message.cssStyle"
  (close)="System_Message.show = false"
>
  <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-12">
        <ejs-accordion>
          <e-accordionitems>
            <e-accordionitem>
              <ng-template #header><div>Filter Reports</div> </ng-template>
              <ng-template #content>
                <form [formGroup]="form">
                  <div formArrayName="filter" id="tab">
                    <div
                      class="row"
                      *ngFor="
                        let filter of get_filter.controls;
                        let i = index;
                        let j = last
                      "
                    >
                      <div class="filter-cont" [formGroupName]="i">
                        <div class="col-3 ml-2 filter-field">
                          <ejs-dropdownlist id="ddlelement" [dataSource]="columens" [fields]="{ value: 'filed', text: 'label' }" 
                              placeholder="Select Columens" formControlName="fields">
                          </ejs-dropdownlist> 
                          <span *ngIf="filter_submitted && get_filter_FormGroup(i).controls['fields'].hasError('required')">
                              <small style="color: red;">* select columen</small>
                          </span>
                        </div>
                        <div class="col-3 ml-2 filter-field">
                          <ejs-dropdownlist id="ddlelement" [dataSource]="filter_criteria_operators" [fields]="{ value: 'value', text: 'text' }" 
                              placeholder="Select Operators" formControlName="operator">
                          </ejs-dropdownlist> 
                          <span *ngIf="filter_submitted && get_filter_FormGroup(i).controls['operator'].hasError('required')">
                            <small style="color: red;">* select operator</small>
                        </span>
                        </div>
                        <div class="col-3 ml-2 filter-field">
                          <ejs-textbox formControlName="value" placeholder="Value"></ejs-textbox>
                          <span *ngIf="filter_submitted && get_filter_FormGroup(i).controls['value'].hasError('required')">
                            <small style="color: red;">* required</small>
                        </span>
                        </div>
                        <div class="col-2 filter-field">
                          <i
                            *ngIf="get_filter.controls.length > 1"
                            class="fa fa-trash btn btn-danger"
                            (click)="Remove_Filter(i)"
                          ></i>
                          <i
                            class="fas fa-plus-circle btn btn-success"
                            *ngIf="j"
                            (click)="add_Filter()"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6">
                    <p></p>
                    <button
                      type="button"
                      ejs-button
                      cssClass="e-info"
                      (click)="Send_Request('Filter')"
                      [disabled]=""
                      >
                      Filter
                    </button>
                  </div>
                </div>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ejs-accordion>
          <e-accordionitems>
            <e-accordionitem>
              <ng-template #header>
                <div>Show Columns</div>
              </ng-template>
              <ng-template #content>
                <form [formGroup]="form">
                  <ejs-multiselect
                    id="multiselectelement"
                    formControlName="fieldToView"
                    [dataSource]="columens"
                    [fields]="multiFields"
                  ></ejs-multiselect>
                </form>
                <p></p>
                <button
                  type="button"
                  ejs-button
                  cssClass="e-info"
                  (click)="Send_Request('Select')"
                >
                  View
                </button>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-12">
        <ejs-accordion>
          <e-accordionitems>
            <e-accordionitem>
              <ng-template #header>
                <div>Aggregate Reports</div>
              </ng-template>
              <ng-template #content>
                <form [formGroup]="form">
                  <div formArrayName="aggregate" id="tab">
                    <div
                      class="row"
                      *ngFor="
                        let aggregate of get_aggregates.controls;
                        let i = index;
                        let j = last
                      "
                    >
                      <div class="filter-cont" [formGroupName]="i">
                        <div class="col-5 ml-2 filter-field">
                          <ejs-dropdownlist id="ddlelement" [dataSource]="columens" [fields]="{ value: 'filed', text: 'label' }" 
                              placeholder="Select Columens" formControlName="fields">
                          </ejs-dropdownlist>  
                          <span *ngIf="aggregate_submitted && get_aggregates_FormGroup(i).controls['fields' ].hasError('required')">
                            <small style="color: red;">* select columen</small>
                          </span>                   
                        </div>
                        <div class="col-5  ml-2 filter-field">
                          <ejs-dropdownlist id="ddlelement" [dataSource]="aggregate_criteria_operators" 
                            [fields]="{ value: 'value', text: 'text' }" placeholder="Select Function" formControlName="function">
                          </ejs-dropdownlist>  
                          <span *ngIf="aggregate_submitted && get_aggregates_FormGroup(i).controls['function' ].hasError('required')">
                            <small style="color: red;">* select aggregate function</small>
                        </span>         
                        </div>
                        <div class="2 filter-field">
                          <i
                            *ngIf="get_aggregates.controls.length > 1"
                            class="fa fa-trash btn btn-danger"
                            (click)="Remove_Aggregate(i)"
                          ></i>
                          <i
                            class="fas fa-plus-circle btn btn-success"
                            *ngIf="j"
                            (click)="add_Aggregate()"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-12">
                    <p></p>
                    <button
                      type="button"
                      ejs-button
                      cssClass="e-info"
                      (click)="Send_Request('aggregate')"
                      >
                      Aggregate
                    </button>
                  </div>
                </div>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ejs-accordion>
          <e-accordionitems>
            <e-accordionitem>
              <ng-template #header>
                <div>Save Report</div>
              </ng-template>
              <ng-template #content>
                <form [formGroup]="form">
                  <ejs-textbox
                    formControlName="report_title"
                    placeholder="Report Title"
                  ></ejs-textbox>
                  <span
                    *ngIf="
                      formSubmitted && get_report_title.hasError('required')
                    "
                  >
                    <small style="color:rgba(255, 0, 0, 0.671)"
                      >* report title is required</small
                    >
                  </span>
                  <p></p>
                  <ejs-textbox
                    formControlName="report_description"
                    placeholder="Report Description"
                    [multiline]="true"
                  ></ejs-textbox>
                </form>
                <p></p>
                <button
                  type="button"
                  ejs-button
                  cssClass="e-info"
                  (click)="save_report()"
                >
                  Save
                </button>
              </ng-template>
            </e-accordionitem>
          </e-accordionitems>
        </ejs-accordion>
      </div>
    </div>
  </div>
</div>
