#tab {
	padding-left: 2%;
}

.filter-cont {
	width: 100%;
}

.filter-field {
	float: left;
	padding: 3px;
}

i {
	margin-left: 2px;
	margin-top: 3px;
}

ejs-accordion {
	margin-top: 10px;
}

.not-invalid {
    border: 1px solid rgba(255, 0, 0, 0.692);
}