<div class="auth-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-6">
                <h1 class="text-xs-center">Change Password</h1>
                <p class="text-xs-center"></p>
                <form [formGroup]="passForm" name="passForm">
                    <div class="form-group">
                        <label for="old password">Old Password</label>
                        <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" />
                        <div class="text-danger" *ngIf="
                submitted &&
                oldPassword.errors &&
                oldPassword.errors['required']
              ">
                            <small>*Old password is required*</small>
                        </div>
                    </div>
                    <div class="sub-sec row">
                        <div class="col-md-6 col-xs-1">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" formControlName="password" class="form-control" id="password" />
                                <div class="text-danger" *ngIf="submitted && password.errors">
                                    <small *ngIf="password.errors['required']">*Password is required*</small
                  >
                  <small *ngIf="password.errors['minlength']"
                    >*Minimum length of 4 characters is allowed*</small
                  >
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-1">
              <div class="form-group">
                <label for="confPassword">Confirm password</label>
                <input
                  type="password"
                  formControlName="confPassword"
                  class="form-control"
                  id="confPassword"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    confPassword.touched && confPassword.hasError('notMatch')
                  "
                >
                  <small>*Your password doesnt match*</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sub-sec">
                        <button type="submit" class="btn btn-primary" (click)="submit()">
              Signup
            </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>