.gender {
    float: left;
    margin-top: 5px;
}

.disability {
    float: left;
    margin-top: 5px;
}

.container {
    background: #f8f9fb;
    padding-bottom: 10px;
}

.btn.btn-primary {
    width: 130px;
    font-weight: 700;
    font-family: inherit;
    font-size: 18px;
}