<app-header></app-header>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>
<!-- <smart-recruitment-frontend-page-identity></smart-recruitment-frontend-page-identity> -->
<!-- <p></p> -->
<!-- <router-outlet></router-outlet> -->