.main {
    padding: 1%;
}
.modal-body {
    padding-left: 1%;
    padding-right: 1%;
}
p, span {
    font-size: 13px;
}

td, th {
    font-size: 13px; 
}

.card-header {
    padding-bottom: 1%;
}

.modal-body {
    padding: 1%;
}