<div class="modal-header">
    <span><font size="2"><b>Evaluation Details</b></font></span>
</div>
<div class="modal-body">
    <table class="table table-hover table-sm">
        <thead class="thead-light"><tr align="center"><th>Date</th><th>Type</th><th>Result</th></tr></thead>
        <tbody>
          <tr *ngFor="let det of detail; let i = index" align="center"><td>{{ det.Date | date }}</td><td>{{ det.Assessment_Type }}</td><td>{{ det.Result | number }}</td></tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-danger" style="float: right;" (click)="activeModal.dismiss('Cross click')">close</button> 
</div>
