<div class="head">
  <div class="row">
    <div class="col-md-6 col-xs-1 title">
      <h3 *ngIf="vacancyDetails" class="text-xs-center">{{ vacancyDetails.Title | titlecase }}</h3>
    </div>
    <div class="col-md-6 col-xs-1 add-new-btn">
      <i class="fas fa-angle-left btn btn-success" [routerLink]="['/']"></i>
    </div>
  </div>
</div>
<div class="details">
  <div class="top">
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center">
          Field of study :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p *ngIf="vacancyDetails" class="text-xs-center">
          {{ vacancyDetails.Field_Of_Study }} or related field
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center ">
          Level of qualification :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center ">
          <span *ngFor="let q of qualification; index as i; let last = last">
            {{ qualification[i].Qualification }} <span *ngIf="!last">/</span>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center">
          Work experience :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center">
          <span *ngFor="let q of qualification; index as i; let last = last">
            {{ qualification[i].Experience }} <span *ngIf="!last">/</span>
          </span>
          <span *ngIf="vacancyDetails">years of relevant work exprience in
            {{ vacancyDetails.Work_Experience }} or related field</span>
          <span *ngIf="vacancyDetails">
            of which {{ vacancyDetails.Special_Year_Of_Experience }} year(s) in
            {{ vacancyDetails.Special_Work_Experience }} position</span>
          <span *ngIf="vacancyDetails">
            in related fields such as {{ vacancyDetails.Sector }} sectors</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center">
          Term of employment :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center" *ngIf="vacancyDetails">
          {{ vacancyDetails.Term_Of_Employement }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center">
          Place of work :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center" *ngIf="vacancyDetails">
          {{ vacancyDetails.Location }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center">
          Availability :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center" *ngIf="vacancyDetails">
          {{ vacancyDetails.Availability }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-1 title">
        <p class="text-xs-center" *ngIf="vacancyDetails">
          Deadline :
        </p>
      </div>
      <div class="col-md-9 col-xs-1 text">
        <p class="text-xs-center">
          {{ vacancyDetails?.deadline }}
        </p>
      </div>
    </div>
  </div>
  <div class="description">
    <div [innerHTML]="vacancyDetails.Details | htmlSanitaizer"></div>
  </div>
</div>
<div class="bottom">
  <div class="row">
    <div class="col-md-12 col-xs-1">
      <button class="btn apply" type="button" (click)="apply(vacancyDetails.id)">
        Apply
      </button>
    </div>
  </div>
</div>