.text-xs-center {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head,
.bottom {
    background: #ffc107;
    color: #155724;
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: center;
}

.details {
    background: #fff;
    padding: 15px;
    overflow: scroll;
    height: 700px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.description {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #155724;
    font-size: 16px;
    font-family: Times new roman;
}

.btn.apply {
    background: #155724;
    color: #ffc107;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    width: 200px;
}

.text {
    color: #155724;
}

.add-new-btn {
    padding: 10px;
    float: left;
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
}

.title {
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
}