<form [formGroup]="procedureForm" (ngSubmit)="onSubmit()" name="procedureForm">
    <div class="content card m-3">
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="jobgrade">Job grade Low</label>
                    <ejs-numerictextbox formControlName="job_Grade_Low" [min]="1" format="N" placeholder="Minimum Job Grade" float="Auto"></ejs-numerictextbox>
                    <div class="e-error" *ngIf=" (submitted && job_Grade_Low.errors) ||(job_Grade_Low.errors && job_Grade_Low.touched)">
                        <div *ngIf="job_Grade_Low.errors['required']">* Lower Job grade is Required</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="jobgrade">Job grade High</label>
                    <ejs-numerictextbox formControlName="job_Grade_High" [min]="1" format="N" placeholder="Maximum Job Grade" float="Auto">                       
                    </ejs-numerictextbox>
                    <div class="e-error" *ngIf=" (submitted && job_Grade_High.errors) ||(job_Grade_High.errors && job_Grade_High.touched)">
                        <div *ngIf="job_Grade_High.errors['required']">* Higher Job grade is Required</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="step">Step</label>
                    <ejs-numerictextbox formControlName="step" format="N" placeholder="Step" float="Auto"></ejs-numerictextbox>
                    <div class="e-error" *ngIf="(submitted && step.errors) || (step.errors && step.touched)">
                        <div *ngIf="step.errors['required']">
                            * Step is Required 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 array-field">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="internalMinPoint">Internal minimum point</label>
                    <ejs-numerictextbox formControlName="internalMinPoint" placeholder="Internal minimum point"></ejs-numerictextbox>
                    <div class="e-error" *ngIf="
                        (submitted && internalMinPoint.errors) ||
                        (internalMinPoint.errors && internalMinPoint.touched)
                        ">
                        <div *ngIf="internalMinPoint.errors['required']">
                            * Internal minimum point is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 array-field">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="externalMinPoint">External minimum point</label>
                    <ejs-numerictextbox formControlName="externalMinPoint" placeholder="External minimum point"></ejs-numerictextbox>
                    <div class="e-error" *ngIf="
                        (submitted && externalMinPoint.errors) ||
                        (submitted && externalMinPoint.touched)
                        ">
                        <div *ngIf="externalMinPoint.errors['required']">
                            * External minimum is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 array-field">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="affirmativeMinPoint">Affirmative minimum point</label>
                    <ejs-numerictextbox formControlName="affirmativeMinPoint" placeholder="Affirmative point" float="Auto"></ejs-numerictextbox>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="assessmentType">Assessment type</label>
                    <ejs-dropdownlist id="ddlelement" [dataSource]="AssessmentTypes" value="'{{ procedureForm.get('assessmentType').value }}'" [value]="val" placeholder="Assessment type" float="Auto" formControlName="assessmentType">
                    </ejs-dropdownlist>
                    <div class="e-error" *ngIf="
                        (submitted && assessmentType.errors) ||
                        (assessmentType.errors && assessmentType.touched)
                        ">
                        <div *ngIf="assessmentType.errors['required']">
                            * Assessment type is Required
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="description">Description</label>
                    <ejs-textbox formControlName="description" placeholder="Write Something to Describe" float="Auto"></ejs-textbox>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <ejs-checkbox label="Panel Member Required ?" formControlName="panel_members_required"></ejs-checkbox>
                </div>
            </div>
        </div>
        <div class="row btn-row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [isUpdate]="isUpdate"></smart-recruitment-frontend-form-option>
                </div>
            </div>
            <div class="col-8"></div>
        </div>
    </div>
</form>