<div class="auth-page">
  <div class="container">
    <div class="row">
      <div class="card col-md-6 offset-md-3 col-xs-12">
        <div class="card-header">
          <h1 class="text-xs-center">Log in</h1>
        </div>
        <div class="card-body">
          <p class="text-xs-center">
            <a [routerLink]="['/account/signup']">Need an account?</a>
          </p>
          <form [formGroup]="loginForm" name="loginForm">
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
              />

              <div
                class="text-danger"
                *ngIf="email.errors && email.errors['email']"
              >
                <small>*Please use a valid email address*</small>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />

              <div
                class="text-danger"
                *ngIf="password.errors && password.errors['minlength']"
              >
                <small>*Minimum length of 4 characters is allowed*</small>
              </div>
            </div>
            <p class="text-xs-center">
              <a [routerLink]="['/account/login']" (click)="openModal()"
                >Forgot password ?</a
              >
            </p>
            <button type="submit" class="btn btn-primary" (click)="submit()">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
