.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 0px !important;
    box-shadow: 3px -1px 6px 1px #666666;
}