<div class="form-button-box">
    <button class="btn e-info" ejs-button ejs-button type="submit" [disabled]="submitDisabled">
    {{ buttonText }}
  </button>
    <button type="button" class="btn e-danger" ejs-button [disabled]="cancelDisabled" (click)="cancel()">
    Cancel
  </button>
</div>