.edit-button {
    text-align: right;
}

.text-xs-center {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.head {
    background: #ffc107;
    color: #155724;
}

.btn.btn-link {
    color: #155724;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.btn.btn-danger {
    float: right;
    cursor: pointer;
}

.btn.btn-success {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.add-new-btn {
    padding: 10px;
}

h3 {
    margin-left: 10px;
}

.jobs {
    float: left;
    margin-left: 20px;
    padding: 10px;
}

.view-more {
    margin-left: 8px;
    float: left;
    text-align: right;
}

p {
    line-height: 0.7rem;
}

.card-header {
    background: #28a74536;
}

.title {
    padding-top: 15px;
}

.search {
    float: left;
    padding-top: 5px;
}

.btn.btn-primary {
    width: 150px;
    background: #155724;
    color: #ffc107;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    border: 0
}

i {
    font-size: 20px;
}

.paging {
    background: #ffc107;
}

.card {
    border-bottom: 1px solid #4caf50 !important;
}