<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="close_alert()">
    <b *ngIf="System_Message.content.length > 0">Message</b>
    <font size="2">
        <ul *ngIf="System_Message.content.length > 0">
            <li *ngFor="let err of System_Message.content">{{ err }}</li>
        </ul>
    </font>
</ngb-alert>
<div class="head">
    <div class="row">
        <div class="col-md-6 col-xs-1 title">
            <h3 class="text-xs-center">Available Jobs</h3>
        </div>
        <div class="col-md-5 col-xs-1 search">
            <div class="row">
                <div [formGroup]="searchForm">
                    <div class="col-md-8 col-xs-1 search">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" formControlName="searchItem"
                                placeholder="Seach here" aria-describedby="button-addon2" />
                            <div class="input-group-append">
                                <button (click)="search()" class="btn btn-outline-secondary" type="button"
                                    id="button-addon2">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-1 search">
                        <p>
                            <button class="btn btn-primary" type="button" (click)="advanceClicked()"
                                data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false"
                                aria-controls="multiCollapseExample2">
                                {{ btnText }}
                                <i *ngIf="btnText == 'Advance search'" class="fas fa-sort-down"></i>
                                <i *ngIf="btnText !== 'Advance search'" class="fas fa-caret-up"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-1">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
                <div class="card card-body">
                    <h4><b>Advance search</b></h4>
                    <div [formGroup]="searchAdvanceForm">
                        <div class="row">
                            <div class="col-md-6 col-xs-1 search">
                                <label for="experience">Job</label>
                                <input type="text" class="form-control" formControlName="job" placeholder="Type Keyword here"
                                    aria-describedby="button-addon2" />
                            </div>
                            <div class="col-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-1 search">
                                <label for="experience">Experience</label>
                                <input type="number" class="form-control" formControlName="experience"
                                    placeholder="Type Experience here" aria-describedby="button-addon2" />
                            </div>
                            <div class="col-md-6 col-xs-1 search">
                                <label for="location">Location</label>
                                <select class="form-control" formControlName="location" id="exampleFormControlSelect1">
                                    <option value="" disabled selected hidden>-- Select Location --</option>
                                    <option *ngFor="let loc of locations; let i = index" [value]="loc.value">
                                        {{ loc.text }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-xs-1 search">
                                <br />
                                <button class="btn btn-primary" type="button" (click)="searchAdvance()">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionExample" *ngFor="let v of vacancyList; index as i">
    <div class="card">
        <div class="card-header" id="headingOne{{ i }}">
            <div class="row">
                <div class="col-md-6 col-xs-1 jobs">
                    <p class="text-xs-center job-title">
                        Job: {{ vacancyList[i].Title }}
                    </p>
                    <p class="text-xs-center job-title">
                        Posted on: {{ vacancyList[i].created_date | date }}
                    </p>
                    <p class="text-xs-center job-title">
                        Deadline: {{ vacancyList[i].deadline | date }}
                    </p>
                </div>
                <div class="col-md-5 col-xs-1 view-more">
                    <!--   <button class="btn btn-link" type="button" (click)="selected(i)" data-toggle="collapse" attr.data-target="#aa{{ i }}" aria-expanded="true" aria-controls="collapseOne">
            View more
          </button> -->
                    <button class="btn btn-link" type="button" (click)="viewDetail(vacancyList[i].id)">
                        View more
                    </button>
                </div>
            </div>
        </div>

        <div id="aa{{ i }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-xs-1 jobs">
                        <p class="text-xs-center job-title">
                            Location: {{ vacancyList[i].Location }}
                        </p>
                        <p class="text-xs-center job-title">
                            Availablity: {{ vacancyList[i].Availability }}
                        </p>
                        <p class="text-xs-center job-title">
                            Term of employment: {{ vacancyList[i].Term_Of_Employement }}
                        </p>
                        <div [innerHTML]="vacancyList[i].Details | htmlSanitaizer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="vacancyList.length == 0">
    <b>There are no available vacancies currently !</b>
</div>