<div class="e-card">
    <div class="row">
        <div class="col-md-12">
            <p *ngIf="request !== undefined">
                <font size="2"><b>Division : </b><u> {{ request.Division | titlecase }} </u></font>
            </p>
            <p *ngIf="request !== undefined">
                <font size="2"><b>Position : </b><u> {{ request.Position | titlecase }} </u></font>
            </p>
            <p *ngIf="request !== undefined">
                <font size="2"><b>Number Of Required : </b
          ><u> {{ request.NumberOfRequired | titlecase }} </u></font
        >
      </p>
      <p *ngIf="request !== undefined">
        <font size="2"
          ><b>JobGrade : </b><u> {{ request.JobGrade | titlecase }} </u></font>
            </p>
            <p *ngIf="request !== undefined">
                <font size="2"><b>Type Of Employment : </b
          ><u> {{ request.TypeOfEmployment | titlecase }} </u></font
        >
      </p>
      <p *ngIf="request !== undefined">
        <font size="2"
          ><b>Ideal starting Date : </b
          ><u> {{ request.StartingDate | date }} </u></font
        >
      </p>
      <p *ngIf="request !== undefined">
        <font size="2"
          ><b>Requested by : </b
          ><u> {{ request.RequestedBy | titlecase }} </u></font
        >
      </p>
      <p *ngIf="request !== undefined">
        <font size="2"
          ><b>Requested on : </b
          ><u> {{ request.created_date | date }} </u></font
        >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-4 btn-row">
      <p></p>
      <button
        [disabled]="disableButtons"
        ejs-button
        cssClass="e-info"
        (click)="approve()"
      >
        Approve
      </button>
      <button
        [disabled]="disableButtons"
        ejs-button
        cssClass="e-danger"
        (click)="reject()"
      >
        Reject
      </button>
    </div>
    <div class="col-8"></div>
  </div>
</div>