<p></p>
<ejs-tab id="element">
    <e-tabitems>
        <e-tabitem>
            <ng-template #headerText>
                External
            </ng-template>
            <ng-template #content>
                <p></p>
                <smart-recruitment-frontend-data-table [groupOptions]="groupOptions" [gridData]="procedures" [grouped]="true"
                    [searchField]="searchField" [showFilter]="true" [showAdd]="true" [showSearch]="true" [showCollapseAndExpand]="true"
                    [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar" [columens]="columensToDisplay"
                    (editRecord)="edit($event)" (deleteRecord)="delete($event)" (addRecord)="add($event)" [height]="550"
                    [editPrivilage]="'editAssessmentProcedure'" [addPrivilage]="'createAssessmentProcedure'"
                    [deletePrivilage]="'deleteAssessmentProcedure'">
                </smart-recruitment-frontend-data-table>
            </ng-template>
        </e-tabitem>

        <e-tabitem>
            <ng-template #headerText>
                Internal/ Promotion
            </ng-template>
            <ng-template #content>
              <p></p>
              <smart-recruitment-frontend-data-table [groupOptions]="groupOption_internal" [gridData]="procedures_internal" [grouped]="true"
              searchField="criteria" [showFilter]="true" [showAdd]="true" [showSearch]="true" [showCollapseAndExpand]="true"
              [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar" [columens]="columens_internal"
              (editRecord)="edit_internal($event)" (deleteRecord)="delete_internal($event)" (addRecord)="add_internal($event)" [height]="550"
              [editPrivilage]="'editAssessmentProcedure'" [addPrivilage]="'createAssessmentProcedure'"
              [deletePrivilage]="'deleteAssessmentProcedure'">
          </smart-recruitment-frontend-data-table>
            </ng-template>
        </e-tabitem>
        <e-tabitem>
            <ng-template #headerText>
                Setting
            </ng-template>
            <ng-template #content>
              <p></p>
              <app-setting></app-setting>
            </ng-template>
        </e-tabitem>

    </e-tabitems> 
</ejs-tab>               

<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>