<ngb-alert *ngIf="message.show" [type]="message.cssStyle" (close)="message.show = false">
    <font size="2">{{ message.content }}</font>
</ngb-alert>
<form>
    <div class="main">
      <div>
          <p *ngIf="applications.length > 0">
              Screening for : <b><u> {{ applications[0].Title | uppercase }} </u></b>
          </p>
          <p *ngIf="applications.length > 0">
              Post Date : <b><u> {{ applications[0].Created_date | date }} </u></b>
          </p>
          <p *ngIf="applications.length > 0">
            Current Screening :
            <b><u>
              <span *ngIf="applications.length > 0 && applications[0].Current_Step === '-1'"> FIRST PRELIMINARY </span>
              <span *ngIf="applications.length > 0 && applications[0].Current_Step === '0'"> SECOND PRELIMINARY </span>
            </u></b>
            </p>
            
      </div>
      <div class="row">
        <div class="col-md-4">
          <form [formGroup]="form">
            <p>
              <ejs-dropdownlist #vacancy [dataSource]="vacancies" style="width: auto" [fields]="fields"
                  placeholder="select vacancy" float="Auto" formControlName="vacancy"
                  (change)="load_Application(vacancy.value)">
                </ejs-dropdownlist>
              <span style="float: left;">
                <i class="fa fa-spinner fa-spin fa-fw ml-2" *ngIf="loading"></i>
               </span>             
            </p>
          </form>
        </div>
        <div class="col-md-2" *ngIf="selected_applicants.length">
          <ejs-dropdownlist #actions [dataSource]="action" style="width: auto" placeholder="Select Action" float="Auto"  [fields]="fields"
            (change)="select_action(actions.value)">
          </ejs-dropdownlist>
        </div>
        <div class="col-md-4" *ngIf="selected_applicants.length">
          <span style="float: left;">
            <button class="btn e-info mr-2 ml-2" ejs-button ejs-button type="submit" (click)="takeAction()" 
            [disabled]="!selected_action || Submitted">Submit</button>
            <i class="fa fa-spinner fa-spin fa-fw ml-2" *ngIf="Submitted"></i>
          </span>
        </div>
      </div>
      <p></p>
    <smart-recruitment-frontend-data-table 
      [gridData]="applications" 
      [incomingCommand]="command" 
      searchField="FirstName"
      [showFilter]="false"
      [showSearch]="true" 
      [incomingToolbar]="toolbar"
      [columens]="columens" 
      (detailRecord)="ShowDetail($event)" 
      (selectRecord)="select_Applicant($event)"
      [allowCheckbox]="true"
      >
    </smart-recruitment-frontend-data-table>

  </div>
</form>