<div class="col-md-12 col-xs-1 title">
    <h3 class="text-xs-center">My applications</h3>
</div>
<div class="application-content">
    <table class="table table-hover">
        <thead>
            <tr class="col-head">
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Applied on</th>
                <th scope="col">Application status</th>
                <th scope="col">Next assessment</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="applications">
            <tr *ngFor="let item of applications; index as i">
                <td>{{ item.id }}</td>
                <td>{{ item.Title }}</td>
                <td>{{ item.Application_Date }}</td>
                <td class="status">{{ item.Status }}</td>
                <td id="next">{{ item.next }}</td>
                <td class="action">
                    <button [disabled]="item.Status !== 'InProcess'" class="btn btn-danger"
                        (click)="withdraw(applications[i].id)">
                        Withdraw
                    </button>
                </td>
            </tr>
            <tr *ngIf="applications.length === 0">
                <td colspan="6"><b>There is no application to view, please apply first!</b></td>
            </tr>
        </tbody>
    </table>
</div>