.container {
  background: #ffca1c;
}

.table {
  background: #28a74522;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.title {
  padding: 5px;
  background: #ffca1c;
}

h3 {
  color: #155724;
  font-weight: 800;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.col-head {
  background: #165625;
  color: #ffca1c;
}

th,
td {
  text-align: center;
}

.action {
  background: #ffca1cab;
}
