<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <ngb-tabset>
        <ngb-tab title="CV">
            <ng-template ngbTabContent>
                <p></p>
                <div class="card main" id="doc">
                    <div class="card">
                        <div class="card-header">
                            <span><b>Applicant Profile</b></span>
                        </div>
                        <div class="card-body">
                            <div class="row" *ngIf="BioData">
                                <div class="col-md-3">
                                    <p align="left" *ngIf="!BioData.Photo && BioData.Gender === 'Female'">
                                        <img src="../../../assets/no_photo_female.png" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                    </p>
                                    <p align="left" *ngIf="!BioData.Photo && BioData.Gender === 'Male'">
                                        <img src="../../../assets/no_photo_male.png" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                    </p>
                                    <p align="left" *ngIf="BioData.Photo">
                                        <img [src]="BioData.Photo" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Full Name : </b
                    ><u
                      >{{ BioData.FirstName | titlecase }}
                      {{ BioData.Surname | titlecase }}</u
                    >
                  </p>
                  <p>
                    <b>Gender : </b><u>{{ BioData.Gender | titlecase }}</u>
                                    </p>
                                    <p>
                                        <b>Date Of Birth : </b><u>{{ BioData.Dob | date }}</u>
                                    </p>
                                    <p>
                                        <b>Disability : </b
                    ><u>{{ BioData.Disability === 'True' ? 'Yes' : 'No' }}</u>
                  </p>
                  <p>
                    <b>Email : </b><u>{{ BioData.Email | titlecase }}</u>
                                    </p>
                                    <p>
                                        <b>Phone Number : </b><u>{{ BioData.Phone | titlecase }}</u>
                                    </p>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <span><b>Application</b></span>
                        </div>
                        <div class="card-body" *ngIf="BioData">
                            <p>
                                <b>Position : </b><u>{{ BioData.Title | uppercase }}</u>
                            </p>
                            <p>
                                <b>Applicatio Date : </b
                ><u>{{ BioData.Created_Date | date }}</u>
              </p>
              <p>
                <b>Document : </b
                ><a
                  href="http://192.168.1.2/smartrecuritement/applicant/{{
                    BioData.Document
                  }}"
                  target="blank"
                  >View Document</a
                >
              </p>
            </div>
          </div>
          <br />
          <div class="card">
            <div class="card-header">
              <span><b>Qualifications</b></span>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Qualification</th>
                                        <th>Institution</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let quali of Qualifications; let i = index" align="center">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ quali.Qualification }}</td>
                                        <td>{{ quali.Institution }}</td>
                                        <td>{{ quali.From | date }}</td>
                                        <td>{{ quali.To | date }}</td>
                                    </tr>
                                    <tr align="center" *ngIf="Qualifications && Qualifications.length === 0">
                                        <td colspan="4">-- No Qualifications --</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <span><b>Expriences</b></span>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Employeer</th>
                                        <th>Address</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Job Title</th>
                                        <th>Salary</th>
                                        <th>Notice</th>
                                        <th width="30%">Achievements</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let exp of Experiences; let i = index" align="center">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ exp.EmployerName | titlecase }}</td>
                                        <td>{{ exp.EmployerAddress | titlecase }}</td>
                                        <td>{{ exp.EmployedFrom | date }}</td>
                                        <td>{{ exp.EmployedTo | date }}</td>
                                        <td>{{ exp.JobTitle | titlecase }}</td>
                                        <td>{{ exp.Salary | currency }}</td>
                                        <td>{{ exp.Notice | titlecase }}</td>
                                        <td align="left">{{ exp.Achievements | titlecase }}</td>
                                    </tr>
                                    <tr align="center" *ngIf="Trainings && Trainings.length === 0">
                                        <td colspan="4">-- No Trainings --</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <span><b>References</b></span>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Full Name</th>
                                        <th>Job Title</th>
                                        <th>Relationship</th>
                                        <th>Address</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Can We Contact</th>
                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <tr *ngFor="let ref of References; let i = index" align="center">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ ref.FullName | titlecase }}</td>
                                        <td>{{ ref.JobTitle | titlecase }}</td>
                                        <td>{{ ref.Relationship | titlecase }}</td>
                                        <td>{{ ref.Address | titlecase }}</td>
                                        <td>{{ ref.Email | titlecase }}</td>
                                        <td>{{ ref.Phone | titlecase }}</td>
                                        <td>{{ ref.CanWeContact | titlecase }}</td>
                                    </tr>
                                    <tr *ngIf="References && References.length === 0">
                                        <td colspan="7">-- No References --</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            <span><b>Trainings</b></span>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm">
                                <thead>
                                    <tr align="center">
                                        <th>#</th>
                                        <th>Course</th>
                                        <th>Details</th>
                                        <th>From</th>
                                        <th>To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tra of Trainings; let i = index" align="center">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ tra.Course | titlecase }}</td>
                                        <td>{{ tra.From | date }}</td>
                                        <td>{{ tra.To | date }}</td>
                                        <td>{{ tra.Details | titlecase }}</td>
                                    </tr>
                                    <tr align="center" *ngIf="Trainings && Trainings.length === 0">
                                        <td colspan="4">-- No Trainings --</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Cover Letter">
            <ng-template ngbTabContent>
                <p></p>
                <div class="card main">
                    <div class="card-header">Cover Letter</div>
                    <div class="card-body">
                        <div [innerHTML]="BioData.CoverLetter | htmlSanitaizer"></div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-outline-primary" style="float: right; display: none;" (click)="printApplication(id)">
    Print Docs
  </button>
    <button class="btn btn-outline-danger" style="float: right;" (click)="takeAction(id, 'Failed', 'Drop')">
    Drop Application
  </button>
    <button class="btn btn-outline-success" style="float: left;" (click)="takeAction(id, '', 'Submit')" *ngIf="current_Step === null">
    Submit Application
  </button>
    <button class="btn btn-outline-success" style="float: left;" (click)="takeAction(id, '', 'Approve')" *ngIf="current_Step === 'Second'">
    Approve Application
  </button>
</div>
