.main {
    padding: 1%;
}
.modal-body {
    padding-left: 1%;
    padding-right: 1%;
}
p, span {
    font-size: 13px;
}

td, th {
    font-size: 13px; 
}

.card-header {
    padding-bottom: 1%;
}



@media screen {
    #printSection {
        display: none;
    }
  }
  
  @media print {
    body * {
      visibility:hidden;
    }
    #printSection, #printSection * {
      visibility:visible;
    }
    #printSection {
      position:absolute;
      left:0;
      top:0;
    }
  }