<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<div class="card" *ngIf="current_editing_id !== null && title_Data.length > 0">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-inline">
        <div class="form-group mb-1">
            <ejs-dropdownlist id="ddlelement" [fields]="fields" [dataSource]="title_Data" formControlName="Title"
                placeholder="-- Select --" float="Auto">
            </ejs-dropdownlist>
        </div>
        <div class="form-group mx-sm-3 mb-1">
            <ejs-textbox formControlName="Value" placeholder="Value" float="Auto"></ejs-textbox>
        </div>
        <div class="form-group mx-sm-3 mb-1">
            <ejs-textbox formControlName="Details" placeholder="Details" float="Auto"></ejs-textbox>
        </div>
        <div class="form-group mx-sm-3 mb-1">
            <button type="submit" class="btn btn-outline-primary btn-sm mb-2">
                Save
            </button>
        </div>
    </form>
</div>
<p></p>
<smart-recruitment-frontend-data-table [gridData]="lookups" [source]="lookup" [searchField]="searchField"
    [showFilter]="true" [showAdd]="true" [showSearch]="true" [incomingCommand]="incomingCommand"
    [incomingToolbar]="incomingToolbar" [columens]="columensToDisplay" (deleteRecord)="delete($event)"
    (editRecord)="edit($event)" (addRecord)="addNew($event)" [height]="600" [editPrivilage]="'editLookup'"
    [addPrivilage]="'createLookup'" [deletePrivilage]="'deleteLookup'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>