.card {
    margin-top: 2%;
    padding: 2%;
}
.not-invalid {
    border: 1px solid rgba(247, 1, 1, 0.692);
  }

  div .form-inline { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .table-condensed{
    font-size: 15px;
  }