<div class="main">
  <div class="sidebar-content">
    <ejs-sidebar
      id="default-sidebar"
      #sidebar
      [type]="type"
      [target]="target"
      (created)="onCreated($event)"
      [enableGestures]="false"
    >
      <div class=" sidebar-header">
        SmartRecruitment
      </div>
      <div class="user-panel">
        <div class="image">
          <span class="e-avatar e-avatar-circle">
            <img
              src="../../../assets/logo.jpg"
              style="height: 100%; width: 100%;"
            /><!-- ECX --></span
          >
        </div>
        <div class="info">
          <div class="name">
            ECX
          </div>
          <div class="status">
            <small>Online</small>
          </div>
        </div>
      </div>
      <div class="center-align">
        <ejs-treeview
          #tree
          (nodeClicked)="loadRoutingContent($event)"
          id="treeelement"
          [fields]="field"
        >
          <ng-template #nodeTemplate="" let-data="">
            <div>
              <div>
                <i [attr.class]="data.icon" aria-hidden="true"> </i
                >{{ data.name }}
              </div>
            </div>
          </ng-template>
        </ejs-treeview>
      </div>
    </ejs-sidebar>
  </div>
  <div class="content">
    <div>
      <div id="head" class="d-print-none">
        <button
          ejs-button
          id="toggle"
          #togglebtn
          isToggle="true"
          (click)="btnClick()"
        >
          <i class="fas fa-grip-horizontal"></i>
        </button>

        <span class="user-setting">
          <span class="notification">
            <span
              class="e-badge e-badge-success e-badge-overlap e-badge-notification"
              >{{ Recruitment_Request }}+</span
            >
            <a
              [routerLink]="['/job/request']"
              routerLinkActive="router-link-active"
              ><div class="far fa-bell-slash"></div
            ></a>
          </span>
          <i class="fas fa-user"></i>
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >{{ username }}</a
            >
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
          </div>
        </span>
      </div>
      <div id="targetcontent">
        <smart-recruitment-frontend-page-identity></smart-recruitment-frontend-page-identity>
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
