<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card m-3">
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="title">Title</label>
                    <ejs-textbox formControlName="Title" placeholder="Title" float="Auto"></ejs-textbox>
                    <div *ngIf="get_Title">
                        <span *ngIf="formSubmitted && get_Title.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
              <font size="2">* Title is required</font>
            </span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Vacancy">Vacancy</label>
                    <ejs-dropdownlist *ngIf="Vacancies.length > 0" id="ddlelement" (select)="onValueSelect($event)" [fields]="vacancyFields" [dataSource]="Vacancies" placeholder="Select Vacancy" float="Auto" formControlName="VacancyId">
                    </ejs-dropdownlist>
                    <div *ngIf="get_VacancyId">
                        <span *ngIf="formSubmitted && get_VacancyId.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
              <font size="2">* Select Vacancy</font>
            </span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="assessmentType">Assessment type</label>
                    <ejs-textbox id="ddlelement" placeholder="Select Assessment Type" float="Auto" formControlName="Assesement_For"></ejs-textbox>
                    <div *ngIf="get_Assesement_For">
                        <span *ngIf="formSubmitted && get_Assesement_For.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                            <font size="2">* Select Assessment Type</font>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="schedule date">Assessment date</label>
                    <ejs-datepicker format="yyyy/MM/dd" placeholder=" Select Schedule Date" formControlName="Schedule_Date"></ejs-datepicker>
                    <div *ngIf="get_Schedule_Date">
                        <span *ngIf="formSubmitted && get_Schedule_Date.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
              <font size="2">* Select Assessment Schedule Date</font>
            </span>
                    </div>
                </div>
            </div>


            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Vacancy">Location</label>
                    <ejs-dropdownlist *ngIf="Assessment_Location.length > 0" id="ddlelement" [fields]="vacancyFields" [dataSource]="Assessment_Location" placeholder="Select Location" float="Auto" formControlName="Assesement_Location">
                    </ejs-dropdownlist>
                    <div *ngIf="get_Assesement_Location">
                        <span *ngIf="formSubmitted && get_Assesement_Location.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                        <font size="2">* Select Location</font>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <span *ngIf="is_panel_required && panel_members.length === 0" style="color:red">
                       <font size="2">* Panel Member required. pls assign member's first.  </font>
                    </span>
                    <span *ngIf="is_panel_required && panel_members.length" style="color:green">
                       <font size="2">Assigned Panel Member's </font>
                       <ol><li *ngFor="let m of panel_members"><small>{{ m.member | titlecase}}</small></li></ol>
                    </span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <ejs-checkbox label="Send Schedule for Candidates" formControlName="Send_Schedule"></ejs-checkbox>
                </div>
            </div>
            <div class="col-8"></div>
        </div>
        <div class="row">
            <div class="col-4 btn-row">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [isUpdate]="!create_operation"></smart-recruitment-frontend-form-option>
                </div>
            </div>
            <div class="col-8"></div>
        </div>
    </div>
</form>