<form>
  <div class="main">
    <ngb-alert *ngIf="message.show" [type]="message.cssStyle" (close)="message.show = false">
        <font size="2">{{ message.content }}</font>
    </ngb-alert>
    
    <div>
        <p *ngIf="applications.length > 0">
            Evaluation for : <b><u>{{ applications[0].Title | titlecase }}</u></b>
        </p>
        <p *ngIf="applications.length > 0">
            Post Date : <b><u>{{ applications[0].post_date | date }}</u></b>
        </p>
        <p *ngIf="applications.length > 0">
            Current Evaluation :
            <b><u>
        <span *ngIf="procedure !== null"
          >{{ procedure.Assessment }} ( Step {{ procedure.Step }})</span
        >
        <span *ngIf="procedure === null">Evaluation Completed</span>
        </u></b>
        </p>
    </div>

    <div class="row">
      <div class="col-md-4">
        <span>
          <ejs-dropdownlist #vacancy [dataSource]="vacancies" style="width: auto" [fields]="fields"
              placeholder="select vacancy" float="Auto" (change)="load_Application(vacancy.value)">
          </ejs-dropdownlist>
      </span>
      </div>
      <div class="col-md-4">
        <i class="fa fa-spinner fa-spin fa-fw ml-2" *ngIf="loading"></i>
      </div>
      <div class="col-md-4"></div>
    </div>

    <p></p>
    <smart-recruitment-frontend-data-table 
      [gridData]="applications" 
      [incomingCommand]="command" 
      searchField="FirstName"
      [showFilter]="false"
      [showSearch]="true" 
      [incomingToolbar]="toolbar"
      [columens]="columens" 
      (detailRecord)="ShowDetail($event)" 
      >
    </smart-recruitment-frontend-data-table>

    <div #container class='root-container'></div>
    <ejs-dialog id='dialog' #ejDialog allowDragging='true' closeOnEscape='true' [target]='targetElement' [position]='position'
      width='450px' [buttons]='buttons' [visible]="false" [showCloseIcon]="true" [isModal]="true" [enableResize]="true"> 
      <ng-template #header><span><h6>Evaluation Result Sheet</h6></span></ng-template>
      <ng-template #content>
        <p align="center">
          <span class="e-avatar e-avatar-xlarge e-avatar-circle" style="width: 100px; height: 100px;">
          <img [src]="profile_detail?.Photo"></span>
        </p>
        <h6 align="center">{{ profile_detail?.FirstName + " " + profile_detail?.Surname | titlecase }}</h6>
        <p align="center"><b>{{ profile_detail?.Title | uppercase }}</b></p>
        <hr />
        <p></p>

        <form [formGroup]="form">
          <!-- With Panel Members -->
          <div formArrayName="Applications" *ngIf="panel_members.length > 0">
              <table class="table">
                <thead><tr><th>Member</th><th>Score</th></tr></thead>
                  <tbody>
                    <tr *ngFor="let member of get_Applications.controls; let i = index;">
                      <td>
                        <div [formGroupName]="i">
                          <ejs-dropdownlist [dataSource]="panel_members" [fields]="fields"
                            placeholder="Select Panel Member" float="Auto" formControlName="panel_member_id">
                          </ejs-dropdownlist>
                        </div>
                      </td> 
                      <td>
                        <div [formGroupName]="i">
                          <ejs-numerictextbox formControlName="value" placeholder="Score" float="Auto"></ejs-numerictextbox>
                          <span *ngIf="getFormGroup(i).get('value').invalid && formSubmitted">
                            <small style="color: red;">* required</small>
                          </span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>

          <!-- For Non-panel Members -->
          <div *ngIf="panel_members.length === 0">
            <ejs-numerictextbox formControlName="Result" placeholder="Score" float="Auto"></ejs-numerictextbox>
            <span *ngIf="score.invalid && formSubmitted">
              <small style="color: red;">* required</small>
            </span>
          </div>

        </form>

      </ng-template>
    </ejs-dialog>

  </div>
</form>