.form-inline .form-group {
    padding-left: 0%;
}

.main {
    background-color: white;
    padding: 1%;
}

.not-invalid {
    border: 1px solid rgba(255, 0, 0, 0.692);
}

td,
th {
    font-size: 13px;
    vertical-align: middle;
}

p,
span {
    font-size: 13px;
}

.table .thead-light th {
    color: #ffffff;
    background-color: #31434b;
    border-color: #dee2e6;
}