.bg-dark-green {
  background: #155724;
}

.navbar-brand {
  color: #ffc761;
  font-weight: 800;
  font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand:hover {
  color: yellow;
}

#navbarDropdown {
  color: #ffc761;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-inline.my-2.my-lg-0 {
  margin-right: 55px;
}

.dropdown-item:hover {
  background: #155724;
  color: #ffc761 !important;
}

.dropdown-item {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.dropdown-menu.show {
  background: #ffc761;
}

.content-place {
  /* background: #28a7451f; */
  height: 100vh;
  padding-top: 50px;
}

a {
  cursor: pointer;
}

img {
  border-radius: 100px;
}
