<nav class="navbar navbar-expand-lg navbar-light bg-dark-green">
  <a class="navbar-brand" href="/">
    <img src="../../../assets/logo.jpg" style="height: 40px; width: 40px;" />
    ETHIOPIAN COMMODITY EXCHANGE</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span>{{ dropdownMenuText | titlecase }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              *ngIf="!isLoggedIn"
              class="dropdown-item"
              [routerLink]="['/account/signup']"
              >Signup</a
            >
            <a
              *ngIf="!isLoggedIn"
              class="dropdown-item"
              [routerLink]="['/account/login']"
              >Login</a
            >
            <a
              *ngIf="isLoggedIn"
              class="dropdown-item"
              [routerLink]="['/cv/list']"
              >My CVs</a
            >
            <a
              *ngIf="isLoggedIn"
              class="dropdown-item"
              [routerLink]="['/application/list']"
              >My Applications</a
            >

            <a
              *ngIf="isLoggedIn"
              class="dropdown-item"
              (click)="toChangeProfile()"
              >Edit profile</a
            >

            <div class="dropdown-divider"></div>
            <a
              *ngIf="isLoggedIn"
              class="dropdown-item"
              [routerLink]="['/account/change_password']"
              >Change password</a
            >
            <a *ngIf="isLoggedIn" class="dropdown-item" (click)="logOut()"
              >Logout</a
            >
          </div>
        </li>
      </ul>
    </form>
  </div>
</nav>
<div class="content-place">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
