<p></p>
<smart-recruitment-frontend-data-table [gridData]="panel_members" [searchField]="searchField"
    [showAdd]="true" [showSearch]="true" [incomingCommand]="Command" [incomingToolbar]="toolbar"
    [columens]="columens" (deleteRecord)="delete($event)" (editRecord)="edit($event)" (detailRecord)="ShowDetail($event)" 

    (addRecord)="addNew($event)" [height]="600" [editPrivilage]="'editPanelMembers'" [addPrivilage]="'createPanelMembers'"
    [deletePrivilage]="'deletePanelMembers'">
</smart-recruitment-frontend-data-table>

<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog allowDragging='true' closeOnEscape='true' [target]='targetElement' [position]='position'
  width='550px' [buttons]='buttons' [visible]="false" [showCloseIcon]="true" [isModal]="true"> 
  <ng-template #header><span><h6>Panel Members Detail</h6></span></ng-template>
  <ng-template #content>
    <table class="table">
        <thead><tr><th>Full Name</th><th>Position</th><th>Department</th></tr></thead>
        <tbody>
            <tr *ngFor="let member of member_detail">
              <td>{{ member.full_name }}</td><td>{{ member.position }}</td><td>{{ member.department_name }}</td>
            </tr>
        </tbody>
    </table>
  </ng-template>
</ejs-dialog>

<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>