.e-plus-icon::before {
    content: '\e823';
}

.e-close::before {
    content: '\e7fc';
}

#remove-button,
#add-button {
    margin-top: 25px;
    padding: 0px;
    float: left;
    margin-left: 15px;
    font-size: inherit;
}

.array-field.qualification {
    float: left;
}

.array-field.experience {
    float: left;
}

.qual-and-exp {
    width: 100%;
}

.array-buttons {
    float: left;
}

.array-container {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* .content.card.m-3 {
    padding-top: 15px;
    padding-bottom: 15px;
} */

.content.card.m-3 {
    padding: 15px;
}

.e-item.e-active {
    padding-top: 15px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 320px !important;
}