<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<form [formGroup]="jobRequirmentForm" (ngSubmit)="onSubmit()" name="jobRequirmentForm">
    <div class="content card m-3">
        <ejs-tab id="element">
            <e-tabitems>
                <e-tabitem>
                    <ng-template #headerText>
                        Job requirments
                    </ng-template>
                    <ng-template #content>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="position">Position</label>
                                    <app-auto-complete (OnPositionSelect)="onPositionSelect($event)"></app-auto-complete>
                                    <div class="e-error" *ngIf="submitted && position.errors">
                                        <div *ngIf="position.errors['required']">* Position is Required*</div>
                                    </div> 
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="department">Department</label>
                                    <ejs-dropdownlist [dataSource]="departments" placeholder="Department"
                                        float="Auto" formControlName="department" [fields]="fields" [readonly]="true">
                                    </ejs-dropdownlist>
                                    <div class="e-error" *ngIf="(submitted && department.errors) || (department.errors && department.touched)">
                                        <div *ngIf="department.errors['required']">* Department is Required*</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="division">Division</label>
                                    <ejs-dropdownlist id="ddlelement" [dataSource]="divisions"
                                        value="'{{ jobRequirmentForm.get('division').value }}'" placeholder="Division"
                                        float="Auto" formControlName="division">
                                    </ejs-dropdownlist>
                                    <div class="e-error" *ngIf="(submitted && division.errors) ||(division.errors && division.touched)">
                                        <div *ngIf="division.errors['required']">*Division is Required*</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="jobgrade">Job grade</label>
                                    <ejs-textbox formControlName="jobGrade" placeholder="Grade" float="Auto" [readonly]="true"></ejs-textbox>
                                    <div class="e-error" *ngIf=" (submitted && jobGrade.errors) ||(jobGrade.errors && jobGrade.touched) ">
                                        <div *ngIf="jobGrade.errors['required']">* Job grade is Required </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="fieldOfStudy">Field of study</label>
                                    <ejs-multiselect id="multiselectelement" formControlName="fieldOfStudy"
                                        [dataSource]="fieldOfStudies" placeholder="Field of study"></ejs-multiselect>
                                    <div class="e-error" *ngIf="
                      (submitted && fieldOfStudy.errors) ||
                      (fieldOfStudy.errors && fieldOfStudy.touched)
                    ">
                                        <div *ngIf="fieldOfStudy.errors['required']">
                                            *Field of study is Required*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="workExperience">Work experiences</label>
                                    <ejs-multiselect id="multiselectelement" formControlName="workExperience"
                                        [dataSource]="workExperiences" placeholder="Work experience"></ejs-multiselect>
                                    <div class="e-error" *ngIf="
                      (submitted && workExperience.errors) ||
                      (workExperience.errors && workExperience.touched)
                    ">
                                        <div *ngIf="workExperience.errors['required']">
                                            *Work experience is Required*
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="sector">Special work experience</label>
                                    <ejs-textbox formControlName="specialWorkExperience"
                                        placeholder="Special experience"></ejs-textbox>
                                    <div class="e-error" *ngIf="
                      (submitted && specialWorkExperience.errors) ||
                      (specialWorkExperience.errors &&
                        specialWorkExperience.touched)
                    ">
                                        <div *ngIf="specialWorkExperience.errors['required']">
                                            *Special work experience is required for special year experience*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="yearManagerialExperience">Year of special work experience</label>
                                    <ejs-numerictextbox formControlName="specialYearExperience" [min]="0" format="N">
                                    </ejs-numerictextbox>
                                    <div class="e-error" *ngIf="
                      (submitted && specialYearExperience.errors) ||
                      (specialYearExperience.errors &&
                        specialYearExperience.touched)
                    ">
                                        <div *ngIf="specialYearExperience.errors['required']">
                                            *Special year of experience is required for special work
                                            experience*
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="sector">Sector</label>
                                    <ejs-multiselect id="multiselectelement" formControlName="sector"
                                        [dataSource]="sectors" placeholder="Sector"></ejs-multiselect>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="remark">Remark</label>
                                    <ejs-textbox formControlName="remark"></ejs-textbox>
                                </div>
                            </div>
                        </div>
                        <div class="row array-container" formArrayName="qualAndExp">
                            <div class="qual-and-exp" *ngFor="
                  let qExp of qualAndExp.controls;
                  let i = index;
                  let last = last
                " [formGroup]="qExp">
                                <div class="col-4 array-field qualification">
                                    <div class="form-group mx-sm-3 mb-1">
                                        <label for="levelOfQualification">Level of Qualification</label>
                                        <ejs-dropdownlist id="ddlelement" [dataSource]="qualifications"
                                            placeholder="Level of qualification" float="Auto"
                                            formControlName="levelOfQualification">
                                        </ejs-dropdownlist>
                                        <div class="e-error" *ngIf="qExp.errors && qExp.touched">
                                            <div *ngIf="qExp.errors['required']">
                                                *Level of qualification is Required*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 array-field experience">
                                    <div class="form-group mx-sm-3 mb-1">
                                        <label for="yearExperience">Experience(Year)</label>
                                        <ejs-numerictextbox formControlName="yearExperience" [min]="0" format="N">
                                        </ejs-numerictextbox>
                                        <div class="e-error" *ngIf="qExp.errors && qExp.touched">
                                            <div *ngIf="qExp.errors['required']">
                                                *Year of experience is Required*
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 array-buttons">
                                    <button id="remove-button" type="button" ejs-button
                                        cssClass="e-round e-danger e-small" iconCss="e-icons e-close"
                                        (click)="deleteQualAndExp(i)"></button>
                                    <button *ngIf="last" [disabled]="qExp.invalid" id="add-button" type="button"
                                        ejs-button class="e-pluse e-info" cssClass="e-round e-primary e-small"
                                        iconCss="e-icons e-plus-icon" (click)="addQualAndExp()"></button>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <button *ngIf="qualAndExp.length == 0" (click)="addQualAndExp()" ejs-button
                                        cssClass="e-info">
                                        Add qualification and experience
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row btn-row">
                            <div class="col-4">
                                <div class="form-group mx-sm-3 mb-1">
                                    <smart-recruitment-frontend-form-option [isUpdate]="isUpdate">
                                    </smart-recruitment-frontend-form-option>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        Job description
                    </ng-template>
                    <ng-template #content>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group mx-sm-3 mb-1">
                                    <label for="cover-letter">Description</label>
                                    <ckeditor [editor]="Editor" data="hello" formControlName="jobDescription">
                                    </ckeditor>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </e-tabitem>
            </e-tabitems>
        </ejs-tab>
    </div>
</form>