.page-identity {
    width: 100%;
    background: #4d841d33;
    height: 3em;
    margin-top: -20px;
    padding-left: 1em;
    padding-right: 1em;
}

.title {
    width: 50%;
    float: left;
    font-weight: 600;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: #31434b;
    font-size: 22px;
    margin-top: 5px;
}

.bread-crumb {
    width: 50%;
    color: #31434b;
    float: left;
    text-align: right;
    margin-top: 10px;
    color: #b6fd4c;
}