<div class="page-identity">
    <div class="title">
        <smart-recruitment-frontend-page-title></smart-recruitment-frontend-page-title>
    </div>
    <div class="bread-crumb">
        <smart-recruitment-frontend-bread-crumb></smart-recruitment-frontend-bread-crumb>
    </div>
</div>