<ngb-alert *ngIf="message.show" [type]="message.cssStyle" (close)="message.show = false">
    <font size="2">{{ message.content }}</font>
</ngb-alert>

<div class="main">
  <div>
      <p *ngIf="applications.length > 0">Vacancy : <b><u>{{ applications[0].Title | titlecase }}</u></b></p>
      <p *ngIf="applications.length > 0">Post Date : <b><u>{{ applications[0].post_date | date }}</u></b></p>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <span>
        <ejs-dropdownlist #vacancy [dataSource]="vacancies" style="width: auto" [fields]="fields"
            placeholder="select vacancy" float="Auto" (change)="load_Applications(vacancy.value)">
        </ejs-dropdownlist>
        <i class="fa fa-spinner fa-spin fa-fw ml-2" *ngIf="loading"></i>
      </span>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>

  <p></p>
  <smart-recruitment-frontend-data-table 
      [gridData]="applications" 
      [incomingCommand]="command" 
      searchField="FirstName"
      [showFilter]="false"
      [showSearch]="true" 
      [incomingToolbar]="toolbar"
      [columens]="columens" 
      (detailRecord)="ShowDetail($event)" 
    >
  </smart-recruitment-frontend-data-table>

</div>

<div #container class='root-container'></div>
<ejs-dialog id='dialog' #ejDialog allowDragging='true' closeOnEscape='true' [target]='targetElement' [position]='position'
  width='450px' [buttons]='buttons' [visible]="false" [showCloseIcon]="true" [isModal]="true"> 
  <ng-template #header><span><h6>Recruitment Option</h6></span></ng-template>
  <ng-template #content>
    <div class="row">
      <div class="col-12" *ngIf="profile_detail">
        <p align="center">
          <span class="e-avatar e-avatar-xlarge e-avatar-circle" style="width: 100px; height: 100px;">
          <img [src]="profile_detail.Photo"></span>
        </p>
        <h6 align="center">{{ profile_detail.FirstName + " " + profile_detail.Surname | titlecase }}</h6>
        <p align="center"><b>{{ profile_detail.Title | uppercase }}</b></p>
        <hr />
        <p></p>
        <form [formGroup]="formgroup">
          <ejs-dropdownlist formControlName="option" [dataSource]="types" style="width: auto" [fields]="fields" placeholder="select option" float="Auto">
          </ejs-dropdownlist>
          <span *ngIf="formSubmitted && formgroup.controls.option.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
            <small>* option is required</small>
          </span>
        </form>
      </div>
    </div>
  </ng-template>
</ejs-dialog>