<p></p>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class = "card"> 
      <div class="card-header"><font size='3'>Set New Password</font></div>
      <div class="card-body">
          <form [formGroup]="formgroup">
            <input type="password" formControlName="password" placeholder="New Password" class="form-control"/>
            <p></p>
            <div *ngIf="getpassword.errors">
                <span *ngIf="formSubmitted && getpassword.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                    <font size="2"> * Password is required</font>
                </span>
                <span *ngIf="formSubmitted && getpassword.hasError('minlength')" style="color:rgba(255, 0, 0, 0.671)">
                  <font size="2"> * Minimum password length is 4</font>
                </span>
            </div>
            <input type="password" formControlName="repassword" placeholder="Confirm Password" class="form-control"/>
            <p></p>  
            <div *ngIf="getrepassword.errors">
                <span *ngIf="formSubmitted && getrepassword.hasError('required')" style="color:rgba(255, 0, 0, 0.671)">
                    <font size="2"> * Confirm Password is required</font>
                </span>
            </div>             
          </form>
          </div>    
          <div class="card-footer">
            <button class="btn btn-primary btn-block"  (click)="Submit()"
            [disabled]="this.getpassword.value !== this.getrepassword.value">Change</button>
          </div>
      </div>
  </div>
  <div class="col-md-4"></div>
</div>
  