<ngb-alert *ngIf="message.show" [type]="message.cssStyle" (close)="message.show = false">
    <font size="2">{{ message.content }}</font>
</ngb-alert>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card m-3">
        <div class="row">
            <div class="col-4 control">
                <ejs-dropdownlist [dataSource]="vacancies" [fields]="fields" placeholder="Select Vacancy" 
                    floatLabelType="Auto" formControlName="vacancy_id" #vacancy (change)="load_steps(vacancy.value)">
                </ejs-dropdownlist>
                <span style="color: red;" *ngIf="form.controls.vacancy_id.invalid && formSubmitted"><small>* vacancy is required</small></span>
            </div>
        </div>  
        <div class="row">
            <div class="col-4 control">
              <ejs-dropdownlist [dataSource]="steps" [fields]="fields" placeholder="Select Step" 
                    floatLabelType="Auto" formControlName="step">
              </ejs-dropdownlist>
              <span style="color: red;" *ngIf="form.controls.step.invalid && formSubmitted"><small>* step is required</small></span>
            </div>
        </div> 
        <p></p> 
        <div class="row">
            <div class="col-4 control">
                <div formArrayName="members">
                    <div *ngFor="let member of get_members.controls; let i = index; let last = last">
                        <div [formGroupName]="i" class="row">
                            <div class="col-8">
                                <ejs-dropdownlist id="employee_id" [dataSource]="employees" [fields]="fields"
                                  placeholder="Employee Name" float="Auto" formControlName="employee_id"
                                  [allowFiltering]="true" (filtering)="onFilteringGuarantors($event)" (select)="onSelect(i,$event.itemData)" #test>
                              </ejs-dropdownlist>
                            </div>
                            <div class="col-4">
                                <button [disabled]="get_members.length === 1" id="remove-button" type="button"
                                    ejs-button cssClass="e-round e-danger e-small" iconCss="e-icons e-close"(click)="Remove(i,member)">
                                </button>
            
                                <button *ngIf="last" [disabled]="get_members.invalid" id="add-button" type="button" 
                                    ejs-button class="e-pluse e-info" cssClass="e-round e-primary e-small" iconCss="e-icons e-plus-icon" 
                                    (click)="Create()">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-4 control">
                <button class="btn e-info" ejs-button type="submit">Save</button>
                <button type="button" class="btn e-danger" ejs-button (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>     
</form>