<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-xs-center">
                        We are going to send an email to reset your password!
                    </p>
                    <form [formGroup]="toResetForm" name="loginForm">
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email to reset your password" />
                            <div class="text-danger" *ngIf="email.errors">
                                <small *ngIf="formSubmitted && email.hasError('required')">* Please enter email address</small>
                                <small *ngIf="formSubmitted && email.hasError('email')">* Please use a valid email address</small>
                            </div>
                        </div>
                    </form>

                    <button type="button" class="btn btn-primary" (click)="sendEmail()" [disabled]="disable">
                        Send <span class="ml-3" *ngIf="disable"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                    </button>
                    <span class="ml-2" *ngIf="disable"><small style="color: green; font-weight: bolder;">sending ... Don't click on other area of the window.</small></span>
                </div>
            </div>
        </div>
    </div>
</div>