<p>
  <ejs-dropdownlist [dataSource]="positions" [fields]="fields" placeholder="Position" float="Auto" [allowFiltering]="true"
    (filtering)="onFilteringGuarantors($event)" (select)="onSelect($event.itemData)" #test>
  </ejs-dropdownlist>
</p>
