<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="e-card">
        <div class="e-card-content">
            <p><b><label>For Title Change</label></b></p>
            <div class="row">
                <div class="col-md-4">
                    <p><label>In ECX</label></p>
                    <ejs-numerictextbox [min]="1" placeholder="Total Minimum Year In ECX" formControlName="min_year_in_ecx">                      
                    </ejs-numerictextbox>
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('min_year_in_ecx').hasError('required')">* required</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <p><label>On Position</label></p>
                    <ejs-numerictextbox [min]="1" placeholder="Total Minimum Year On Position" formControlName="min_year_on_position">                      
                    </ejs-numerictextbox>
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('min_year_on_position').hasError('required')">* required</small>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <br />
            <p><b><label>For Promotion</label></b></p>
            <div class="row">
                <div class="col-md-4">
                    <p><label>Total Minimum Year In ECX</label></p>
                    <ejs-numerictextbox [min]="0" placeholder="Total Minimum Year In ECX" formControlName="min_year_promotion">                       
                    </ejs-numerictextbox>
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('min_year_promotion').hasError('required')">* required</small>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <p></p>
            <div class="row">
                <div class="col-md-4">
                    <p><label>Minimum Promotion Point (%) of Overall 40%</label></p>
                    <ejs-numerictextbox [min]="1" placeholder="Minimum Promotion Passing Point" formControlName="min_pass_point">                      
                    </ejs-numerictextbox>
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('min_pass_point').hasError('required')">* required</small>
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <p></p>
            <div class="row btn-row">
                <div class="col-4">
                    <div class="form-group mx-sm-3 mb-1">
                        <smart-recruitment-frontend-form-option [isUpdate]="isUpdate"></smart-recruitment-frontend-form-option>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </div>
</form>

<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>