<div class="head">
    <div class="row">
        <div class="col-md-6 col-xs-1 title">
            <h3 class="text-xs-center">My CVs</h3>
        </div>
        <div class="col-md-6 col-xs-1 add-new-btn">
            <i class="fas fa-plus-circle btn btn-success" [routerLink]="['/cv/create']"></i>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample" *ngFor="let myCvs of cvs; index as i">
    <div class="card">
        <div class="card-header" id="headingOne{{i}}">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" (click)="selected(i)" data-toggle="collapse"
                    attr.data-target="#aa{{ i }}" aria-expanded="true" aria-controls="collapseOne">
                    {{ cvs[i].Title | titlecase }}
                </button>
                <i class="fa fa-trash btn btn-danger" (click)="deleteCv(cvs[i].id)"></i>
            </h2>
        </div>

        <div id="aa{{ i }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <smart-recruitment-frontend-create-cv [cvId]="cvs[i].id"></smart-recruitment-frontend-create-cv>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cvs.length == 0">
    <b>You have no CVs currently !</b>
</div>