.edit-button {
    text-align: right;
}

.text-xs-center {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 15px;
    margin-top: 7px;
}

.head {
    background: #ffc107;
    color: #155724;
}

.btn.btn-link {
    color: #155724;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 20px;
}

.btn.btn-danger {
    float: right;
    cursor: pointer;
}

.btn.btn-success {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.add-new-btn {
    padding: 10px;
}

.card-header {
    background: #28a74536;
}

.card {
    border-bottom: 1px solid #4caf50 !important;
}