<form [formGroup]="requestForm" (ngSubmit)="onSubmit()" name="requestForm">
    <div class="content card m-3">
        <ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
            <font size="2">{{ System_Message.content }}</font>
        </ngb-alert>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="position">Position</label>
                    <app-auto-complete (OnPositionSelect)="onPositionSelect($event)"></app-auto-complete>
                    <div class="e-error" *ngIf="submitted && position.errors">
                        <div *ngIf="position.errors['required']">* Position is Required*</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="jobgrade">Job grade</label>
                    <ejs-textbox placeholder="Grade" float="Auto" formControlName="jobGrade" [readonly]="true"></ejs-textbox>
                    <div class="e-error" *ngIf="submitted && jobGrade.errors">
                        <div *ngIf="jobGrade.errors['required']">* Job grade is Required</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="division">Division</label>
                    <ejs-dropdownlist id="ddlelement" [dataSource]="divisions" placeholder="Division" float="Auto" formControlName="division">
                    </ejs-dropdownlist>
                    <div class="e-error" *ngIf="
              (submitted && division.errors) ||
              (division.errors && division.touched)
            ">
                        <div *ngIf="division.errors['required']">
                            *Division is Required*
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="numberOfRequired">Number required</label>
                    <ejs-numerictextbox formControlName="numberOfRequired" format="N"></ejs-numerictextbox>
                    <div class="e-error" *ngIf="
              (submitted && numberOfRequired.errors) ||
              (numberOfRequired.errors && numberOfRequired.touched)
            ">
                        <div *ngIf="numberOfRequired.errors['required']">
                            *Number required is Required*
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="employmentType">Ideal starting date</label>
                    <ejs-datepicker format="yyyy-MM-dd" formControlName="startingDate"></ejs-datepicker>
                    <div class="e-error" *ngIf="
              (submitted && startingDate.errors) ||
              (startingDate.errors && startingDate.touched)
            ">
                        <div *ngIf="startingDate.errors['required']">
                            *Ideal starting is is Required*
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="typeOfEmployment">Type of employment</label>
                    <ejs-dropdownlist id="ddlelement" [dataSource]="employmentTypes" placeholder="Employment type" float="Auto" formControlName="typeOfEmployment">
                    </ejs-dropdownlist>
                    <div class="e-error" *ngIf="
              (submitted && typeOfEmployment.errors) ||
              (typeOfEmployment.errors && typeOfEmployment.touched)
            ">
                        <div *ngIf="typeOfEmployment.errors['required']">
                            *Type of employment is required*
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="reportTo">Reports to</label>
                    <ejs-multiselect id="multiselectelement" formControlName="reportTo" [dataSource]="reportsTo" placeholder="Reports to"></ejs-multiselect>
                    <div class="e-error" *ngIf="
              (submitted && reportTo.errors) ||
              (reportTo.errors && reportTo.touched)
            ">
                        <div *ngIf="reportTo.errors['required']">
                            *Reports to is Required*
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row btn-row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [buttonText]="'Send'"></smart-recruitment-frontend-form-option>
                </div>
            </div>
        </div>
    </div>
</form>