.col-lg-3.col-sm-4 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.items-panel {
    background: #f39c12 !important;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    padding-top: 40px;
    color: white;
}

.item-name {
    font-size: x-large;
    padding: 10px 0px;
    ;
}

.icons {
    font-size: 70px;
    transition: all .3s linear;
    top: 5px;
    right: 40px;
    z-index: 0;
    color: rgba(0, 0, 0, 0.15);
    position: absolute;
}

.vacant,
.applications,
.offered,
.screening,
.evaluation,
.passed,
.offered,
.reserved,
.accepted {
    background: #f39c12;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 2px;
    padding-top: 40px;
    color: white;
    cursor: pointer;
}

.vacant {
    background: #066933;
}

.applications {
    background: #ff5722;
}

.screening {
    background: #00a65a;
}

.evaluation {
    background: #5a0a00;
}

.passed {
    background: #fd0066c4;
}

.offered {
    background: #9c27b0;
}

.reserved {
    background: #31434a;
}

.accepted {
    background: #7fad03;
}