<div class="dashboard">
    <div class="row">
        <div class="col-lg-3 col-sm-4" *ngFor="let items of dashboardItems; let i = index">
            <div class="items-panel" [attr.class]="items.class">
                <div class="item-name">{{ items.name }} ({{ items.value }})</div>
                <div class="icons">
                    <i [attr.class]="items.icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>