<p></p>
<smart-recruitment-frontend-data-table [gridData]="vacancies" [searchField]="searchField" [showFilter]="true"
    [showAdd]="true" [showSearch]="true" [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar"
    [columens]="columensToDisplay" (deleteRecord)="delete($event)" (editRecord)="edit($event)"
    (addRecord)="addNew($event)" [height]="600" [editPrivilage]="'editVacancy'" [addPrivilage]="'createVacancy'"
    [deletePrivilage]="'deleteVacancy'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>