<div [formGroup]="referenceForm">
    <div formArrayName="referenceArray" class="main-container">
        <div class="section" *ngFor="let refer of references.controls; let i = index; let last = last" [formGroup]="refer">
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="fullName">Full name</label>
                        <input type="text" formControlName="fullName" class="form-control" id="full-name" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('fullName').errors['required']
              ">
                            <small>*Full name is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="fullName">Job title</label>
                        <input type="text" formControlName="jobTitle" class="form-control" id="job-title" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('jobTitle').errors['required']
              ">
                            <small>*Job title is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-1 buttons">
                    <button (click)="addReference()" *ngIf="last" [ngClass]="refer.invalid ? 'btn-warning' : 'btn-primary'" [disabled]="refer.invalid" class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
                    <button class="btn btn-danger" (click)="deleteReference(i)">
            <i class="fa fa-trash "></i>
          </button>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="relationship">Relationship</label>
                        <input type="text" formControlName="relationship" class="form-control" id="relationship" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('relationship').errors['required']
              ">
                            <small>*Relationship is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="form-control" id="address" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('address').errors['required']
              ">
                            <small>*Addres is required*</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" class="form-control" id="email" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('email').errors['required']
              ">
                            <small>*Email is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" formControlName="phone" class="form-control" id="phone" />
                        <div class="text-danger" *ngIf="
                submitted &&
                refer.errors &&
                refer.get('phone').errors['required']
              ">
                            <small>*Phone number is required*</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <input type="checkbox" formControlName="CanWeContact" /> Can We Contact ?                     
                    </div>
                </div>
                <div class="col-md-5 col-xs-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button type="button" (click)="addReference()" class="btn btn-success" *ngIf="references.length == 0">
    <i class="fa fa-plus ">Add</i>
  </button>
</div>