<div class="head" *ngIf="!isUpdate">
    <div class="row">
        <div class="col-md-6 col-xs-1 title">
            <h3 class="text-xs-center">Create</h3>
        </div>
        <div class="col-md-6 col-xs-1 add-new-btn">
            <i class="fas fa-angle-left btn btn-success" [routerLink]="['/cv/list']"></i>
        </div>
    </div>
</div>
<div class="create-content card">
    <form [formGroup]="cvForm" name="cvForm">
        <ejs-tab id="element">
            <e-tabitems>
                <e-tabitem>
                    <ng-template #headerText>
                        Document and cover letter
                    </ng-template>
                    <ng-template #content>
                        <div class="main-container">
                            <div class="sub-sec row">
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        <label for="Title">Title</label>
                                        <input type="text" formControlName="title" class="form-control" id="title" />
                                        <div class="text-danger" *ngIf="
                        submitted && title.errors && title.errors['required']
                      ">
                                            <small>*Title is required*</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-1">
                                    <div class="form-group">
                                        <label for="document">Upload your document </label>
                                        <input type="file" formControlName="document" (change)="onFileSelect($event)" class="form-control-file" id="document" />
                                        <div class="text-danger" *ngIf="
                        submitted &&
                        document.errors &&
                        document.errors['required']
                      ">
                                            <small>*Document is required*</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sub-sec row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="cover-letter">Cover letter</label>
                                        <ckeditor [editor]="Editor" data="hello" formControlName="coverLetter"></ckeditor>
                                        <div class="text-danger" *ngIf="
                        submitted &&
                        coverLetter.errors &&
                        coverLetter.errors['required']
                      ">
                                            <small>*Please write your cover letter*</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-sec">
                            <button *ngIf="!isUpdate" type="submit" class="btn btn-primary" (click)="submit()">
                Save
              </button>
                            <button *ngIf="isUpdate" type="submit" class="btn btn-primary" (click)="submit()">
                Update
              </button>
                        </div>

                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        Qualification
                    </ng-template>
                    <ng-template #content>
                        <smart-recruitment-frontend-qualifications #qualificationComponent [QData]="qualificationArray" [fieldOfStudyList]="fieldOfStudyList" [qualificationList]="qualificationList"></smart-recruitment-frontend-qualifications>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        Experience
                    </ng-template>
                    <ng-template #content>
                        <smart-recruitment-frontend-experience #experienceComponent [EData]="experianceArray"></smart-recruitment-frontend-experience>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        Trainings
                    </ng-template>
                    <ng-template #content>
                        <smart-recruitment-frontend-trainings #trainingComponent [TData]="trainingArray"></smart-recruitment-frontend-trainings>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>
                        References
                    </ng-template>
                    <ng-template #content>
                        <smart-recruitment-frontend-references #referenceComponent [RData]="referenceArray"></smart-recruitment-frontend-references>
                    </ng-template>
                </e-tabitem>
            </e-tabitems>
            <smart-recruitment-frontend-qualifications #qualificationComponent [QData]="qualificationArray" [qualificationList]="qualificationList" hidden="true"></smart-recruitment-frontend-qualifications>
            <smart-recruitment-frontend-experience #experienceComponent [EData]="experianceArray" hidden="true"></smart-recruitment-frontend-experience>
            <smart-recruitment-frontend-trainings #trainingComponent [TData]="trainingArray" hidden="true"></smart-recruitment-frontend-trainings>
            <smart-recruitment-frontend-references #referenceComponent [RData]="referenceArray" hidden="true"></smart-recruitment-frontend-references>

        </ejs-tab>
    </form>
</div>