.btn.btn-success {
    float: right;
    margin-right: 25px;
    cursor: pointer;
}

.add-new-btn {
    padding: 10px;
}

.head {
    background: #ffc107;
    color: #155724;
}

.text-xs-center {
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.create-content {
    background: #fff;
}

.nav-link.active {
    border-radius: 0px !important;
}

.main-container {
    padding: 10px;
}

.section {
    border-bottom: 1px solid #155724;
    margin-top: 3px;
    padding: 5px;
}

.buttons {
    padding-top: 30px;
    text-align: center;
}

.btn-sec {
    padding: 10px;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
}

.e-tab-text {
    color: #155724 !important;
    font-weight: 600 !important;
}

.btn.btn-primary {
    background: #155724;
    color: #ffc107;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
}

.title {
    padding-top: 5px;
    padding-left: 30px;
}