<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="content card m-3">
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label>Criteria</label>
                    <ejs-dropdownlist #crit [dataSource]="criteria" placeholder="Procedure Criteria"
                        float="Auto" formControlName="criteria" [fields]="fields" (change)="onCriteriaChange(crit.value)">
                    </ejs-dropdownlist>
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('criteria').hasError('required')">* criteria is required</small>
                    </div>
                </div>
            </div> 
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label>Type</label>
                    <ejs-dropdownlist [dataSource]="type" placeholder="Procedure Type"
                        float="Auto" formControlName="type" [fields]="fields" #lala (change)="get_controls('text').setValue(lala.text)">
                    </ejs-dropdownlist>
                    <input type="hidden" formControlName="text" />
                    <div class="e-error">
                      <small *ngIf="formSubmitted && get_controls('type').hasError('required')">* type is required</small>
                    </div>
                </div>
            </div> 
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                  <label>Minimum Year Of Exprience</label>
                  <ejs-numerictextbox formControlName="min_service_year" [min]="0" format="N"></ejs-numerictextbox>
                  <div class="e-error">
                    <small *ngIf="formSubmitted && get_controls('min_service_year').hasError('required')">* minimum is required</small>
                  </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="col-4">
              <div class="form-group mx-sm-3 mb-1">
                <label>Maximum Year Of Exprience</label>
                <ejs-numerictextbox formControlName="max_service_year" [min]="0" format="N"></ejs-numerictextbox>
                <div class="e-error">
                  <small *ngIf="formSubmitted && get_controls('max_service_year').hasError('required')">* Maximum is required</small>
                </div>
              </div>
            </div> 
            <div class="col-4">
              <div class="form-group mx-sm-3 mb-1">
                <label>Mimimum Score Point</label>
                 <ejs-numerictextbox formControlName="value" [min]="0" format="N"></ejs-numerictextbox>
                 <div class="e-error">
                    <small *ngIf="formSubmitted && get_controls('value').hasError('required')">* Minimum point is required</small>
                  </div>
              </div>
            </div> 
            <div class="col-4">
            </div> 
        </div>
        <p></p>
        <div class="row btn-row">
          <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [isUpdate]="isUpdate">
                    </smart-recruitment-frontend-form-option>
                </div>
          </div>
        </div>
  </div>           
</form>
