<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="content card m-3">
        <ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
            <font size="2">{{ System_Message.content }}</font>
        </ngb-alert>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Title">Title</label>
                    <ejs-textbox formControlName="Title" placeholder="Title" float="Auto"></ejs-textbox>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="job">Select job</label>
                    <ejs-dropdownlist [dataSource]="JobsId" [fields]="fields"
                        placeholder="Select Job" float="Auto" formControlName="JobId" #jo (change)="jobId = jo">
                    </ejs-dropdownlist>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for=" location">Location/Branch</label>
                    <ejs-dropdownlist value="'{{ form.get('Location').value }}'" [dataSource]="Location"
                        placeholder="Select Work Location" float="Auto" [fields]="fields" formControlName="Location"></ejs-dropdownlist>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Term_Of_Employement">Term of employment</label>
                    <ejs-dropdownlist [fields]="fields" [dataSource]="TermofEmployments"
                        value="'{{ form.get('Term_Of_Employement').value }}'" placeholder="Term Of Employement"
                        float="Auto" formControlName="Term_Of_Employement"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Vacancy_Type">Vacancy for</label>
                    <ejs-dropdownlist [dataSource]="Vacancy_Type"
                        value="'{{ form.get('Vacancy_Type').value }}'" placeholder="Vacancy for" float="Auto"
                        formControlName="Vacancy_Type"></ejs-dropdownlist>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="DeadLine">Deadline</label>
                    <ejs-datepicker format="yyyy/MM/dd" placeholder="Application Dead Line" formControlName="DeadLine">
                    </ejs-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Availability">Availability</label>
                    <ejs-textbox formControlName="Availability" placeholder="Availability" float="Auto"></ejs-textbox>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mx-sm-3 mb-1">
                    <label for="Availability">Number Of Required</label>
                    <ejs-numerictextbox format="N" formControlName="NumberOfRequired" placeholder="Number Of Required"
                        float="Auto"></ejs-numerictextbox>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-4 btn-row">
                <div class="form-group mx-sm-3 mb-1">
                    <smart-recruitment-frontend-form-option [isUpdate]="isUpdate">
                    </smart-recruitment-frontend-form-option>
                </div>
            </div>
            <div class="col-8"></div>
        </div>
    </div>
</form>