<ngb-alert *ngIf="message.show" [type]="message.cssStyle" (close)="message.show = false">
    <font size="2">{{ message.content }}</font>
</ngb-alert>

<form>
    <div class="main">
        <div class="row">
            <div class="col-12">
                <div class="form-group mx-sm-3 mb-1">
                  <p *ngIf="applications.length > 0">Vacancy : <b><u>{{ applications[0].Title | titlecase }}</u></b></p>
                  <p *ngIf="applications.length > 0">Post Date : <b><u>{{ applications[0].post_date | date }}</u></b></p>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <span>
                    <ejs-dropdownlist #vacancy [dataSource]="vacancies" style="width: auto" [fields]="fields"
                    placeholder="select vacancy" float="Auto" (change)="load_Application(vacancy.value)">
                    </ejs-dropdownlist>
                    <span class="ml-3" *ngIf="loading"><i class="fa fa-spinner fa-spin fa-fw"></i></span>
                </span>
            </div>
            <div class="col-md-4">
                <span>
                    <button (click)="Send_Letter('offer','Pass','Job Offer','Offerd')" 
                        class="btn btn-outline-success ml-5" *ngIf="selected_applications.length > 0">               
                        Send Offer<i class="fa fa-spinner fa-spin fa-fw" *ngIf="offer_Spinner"></i>
                    </button>
                </span>
            </div>
            <div class="col-md-4"></div>
        </div>

        <p></p>
        <smart-recruitment-frontend-data-table 
            [gridData]="applications" 
            [incomingCommand]="command" 
            searchField="FirstName"
            [showFilter]="false"
            [showSearch]="true" 
            [incomingToolbar]="toolbar"
            [columens]="columens" 
            (selectRecord)="select_application($event)"
            [allowCheckbox]="true"
            (detailRecord)="ShowDetail($event)" 
        >
      </smart-recruitment-frontend-data-table>

    </div>
</form>