<div [formGroup]="trainingForm">
    <div formArrayName="trainingArray" class="main-container">
        <div class="section" *ngFor="let train of trainings.controls; let i = index; let last = last" [formGroup]="train">
            <div class="sub-sec row">
                <div class="col-md-10 col-xs-1">
                    <div class="form-group">
                        <label for="course">Course</label>
                        <input type="text" formControlName="course" class="form-control" id="course" />
                        <div class="text-danger" *ngIf="
                submitted &&
                train.errors &&
                train.get('course').errors['required']
              ">
                            <small>*Course is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-1 buttons">
                    <button (click)="addTraining()" *ngIf="last" [ngClass]="train.invalid ? 'btn-warning' : 'btn-primary'" [disabled]="train.invalid" class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
                    <button class="btn btn-danger" (click)="deleteTraining(i)">
            <i class="fa fa-trash "></i>
          </button>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="start-date">From</label>
                        <div class="input-group">
                            <input type="date" formControlName="startDate" class="form-control" placeholder="yyyy-mm-dd" name="start-date" />
                            <div class="text-danger" *ngIf="
                  submitted &&
                  train.errors &&
                  train.get('startDate').errors['required']
                ">
                                <small>*Start date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="end-date">To</label>
                        <div class="input-group">
                            <input type="date" formControlName="endDate" class="form-control" placeholder="yyyy-mm-dd" name="end-date" />
                            <div class="text-danger" *ngIf="
                  submitted &&
                  train.errors &&
                  train.get('endDate').errors['required']
                ">
                                <small>*End date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-10 col-xs-1">
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea formControlName="details" rows="3" id="details" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button type="button" (click)="addTraining()" class="btn btn-success" *ngIf="trainings.length == 0">
    <i class="fa fa-plus ">Add</i>
  </button>
</div>