<div class="e-card">
    <ejs-grid #grid gridLines="Both" 
        [dataSource]="gridData" [allowGrouping]="grouped" [groupSettings]="groupOptions" 
        [allowPaging]="true" [pageSettings]="pageSettings" [editSettings]="editSettings"
        [allowSorting]="true" [allowFiltering]="false" [allowReordering]="true" 
        [allowExcelExport]="allowExporttoExcel"[allowResizing]="true" [toolbar]="toolbar" 
        [showColumnChooser]="showColumnChooser" [searchSettings]="searchOptions" [allowTextWrap]="true"
        [textWrapSettings]="wrapSettings" (toolbarClick)="toolbarClicked($event)" 
        [childGrid]="childGrid" [height]="height" (rowSelected)="onRowSelected($event.data)" (rowDeselected)="onRowSelected($event.data)"
        [selectionSettings]='selectionOptions' (queryCellInfo)='customiseCell($event)'
    >
        <e-columns>
            <e-column type='checkbox' width='20' *ngIf="allowCheckbox"></e-column>
            <e-column *ngFor="let column of columens" [field]="column.field" [headerText]="column.headerText" [width]="column.width" [textAlign]="column.textAlign" [visible]="true" clipMode="EllipsisWithTooltip" displayAsCheckBox="true">
                <ng-template #template let-gridData *ngIf="column.img">
                    <div class="image">
                        <img *ngIf="gridData.Photo" [src]="gridData.Photo" style="width: 30px;height: 30px;" alt="photo" />
                        <img *ngIf="gridData.Photo === null && gridData.Gender === 'Female'" [src]="img_src_female" style="width: 30px;height: 30px;" alt="photo" />  
                        <img *ngIf="gridData.Photo == null && gridData.Gender === 'Male' [src]="img_src_male" style="width: 30px;height: 30px;" alt="photo" />                          
                    </div>
                </ng-template>
            </e-column>
            <e-column headerText="Actions" width="45" [commands]="commands" *ngIf="commands && commands.length > 0" textAlign="center" [visible]="allowOperation"></e-column>
        </e-columns>
    </ejs-grid>
    <div #container class="root-container"></div>
    <ejs-dialog id="dialog" #ejDialog header="Confirmation" [target]="targetElement" width="250px" [buttons]="buttons" [visible]="false" allowDragging="true" [closeOnEscape]="true" [animationSettings]="animationSettings" [showCloseIcon]="true">
    </ejs-dialog>
</div>