.e-ungroupbutton.e-icons.e-icon-hide {
    display: none !important;
}

.e-grid .e-grouptext {
    width: 75px;
}

.e-groupdroparea.e-grouped.e-lib.e-droppable.e-draggable {
    background: #31434b;
}

.e-grid .e-groupheadercell {
    background: #cfe0d3;
    color: black;
    font-weight: 800;
}

.e-groupsort.e-icons {
    color: black;
    font-weight: 800;
}

.e-MT_Preview:before {
    content: "\e345";
}

.image {
    height: 55px;
    width: 55px;
    border-radius: 50px;
    /* box-shadow: inset 0 0 1px #e0e0e0, inset 0 0 14px rgba(0,0,0,0.2); */
}

.fit {
    background-color: greenyellow;
}

.unfit {
    background-color: red;
}