<p></p>
<smart-recruitment-frontend-data-table [gridData]="jobs" [groupOptions]="groupOptions" [grouped]="true"
    [showFilter]="true" [showAdd]="true" [showSearch]="true" [showCollapseAndExpand]="true" [searchField]="searchField"
    [incomingCommand]="incomingCommand" [columens]="columensToDisplay" [showCheckBox]="true" (editRecord)="edit($event)"
    (deleteRecord)="delete($event)" (addRecord)="addJob($event)" [childGrid]="childGrid" [height]="550"
    [editPrivilage]="'editJobRequirment'" [addPrivilage]="'createJobRequirment'"
    [deletePrivilage]="'deleteJobRequirment'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>