<p></p>
<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<smart-recruitment-frontend-data-table [gridData]="Schedules" [searchField]="searchField" [showFilter]="true"
    [showAdd]="true" [showSearch]="true" [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar"
    [columens]="columensToDisplay" (deleteRecord)="delete($event)" (editRecord)="edit($event)"
    (addRecord)="addNew($event)" [height]="600" [editPrivilage]="'editSchedules'" [addPrivilage]="'createSchedules'"
    [deletePrivilage]="'deleteSchedules'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>