.main {
    padding: 1%;
}
.modal-body {
    padding-left: 1%;
    padding-right: 1%;
}
p, span {
    font-size: 13px;
}

td, th {
    font-size: 13px; 
    font-weight: lighter;
}

.card-header {
    padding-bottom: 1%;
}


#dialog::-webkit-scrollbar {
  display: none;
}

