<div #container class='root-container'></div>
<ejs-dialog 
    id='dialog' #ejDialog allowDragging='true' closeOnEscape='true' 
    [target]='targetElement' [position]='position'
    width='50%' [buttons]='buttons' [visible]="true" [animationSettings]="animationSettings"
    [showCloseIcon]="true" [isModal]="true" [enableResize]="true">

    <ng-template #header><span><small>Application Detail</small></span></ng-template>

    <ng-template #content>
        <div *ngIf="is_internal">
            <ejs-tab id="element">
                <e-tabitems>
                    <e-tabitem>
                        <ng-template #headerText>Application</ng-template>
                        <ng-template #content>
                            <p></p>
                            <div class="card main" id="doc">
                                <div class="e-card">
                                    <div class="e-card-header">
                                        <div class="e-card-header-caption"><div class="e-card-header-title"><b>Applicant Basic Info</b></div></div>
                                    </div>
                                    <div class="e-card-content">
                                    <div class="row" *ngIf="BioData">
                                        <div class="col-12">
                                                <p>
                                                    <span style="float: right;">
                                                        <b>Gender : </b><u>{{ BioData.sex | titlecase }}</u>
                                                    </span>
                                                    <span style="float: left;">
                                                        <b>Full Name : </b><u>{{ BioData.full_name | titlecase }}</u>
                                                    </span>
                                                    
                                                </p>
                                                <p>
                                                    <span style="float: right;">
                                                        <b>Email : </b><u>{{ BioData.email | titlecase }}</u>
                                                    </span>
                                                    <span style="float: left;">
                                                        <b>Date Of Birth : </b><u>{{ BioData.Dob | date }}</u>
                                                    </span>
                                                </p>
                                                <p>
                                                    <span style="float: right;">
                                                        <b>Mobile : </b><u>{{ BioData.mobile | titlecase }}</u>
                                                    </span>
                                                    <span style="float: left;">
                                                        <b>Position : </b><u>{{ BioData.position | titlecase}}</u>
                                                    </span>
                                                </p>
                                                <p>
                                                    <span style="float: right;">
                                                        <b>Department : </b><u>{{ BioData.department_name | titlecase  }}</u>
                                                    </span>
                                                    <span style="float: left;">
                                                        <b>Duty Station : </b><u>{{ BioData.location | titlecase  }}</u>
                                                    </span>
                                                </p>              
                                                <p>
                                                    <span style="float: left;">
                                                        <b>Last Promotion Date : </b><u>{{ BioData.lpd }}</u>
                                                    </span>                                                 
                                                </p>              
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <br />
                                <div class="e-card">
                                    <div class="e-card-header">
                                        <div class="e-card-header-caption"><div class="e-card-header-title"><b>Application</b></div></div>
                                    </div>
                                    <div class="e-card-content">
                                    <div class="row" *ngIf="BioData">
                                        <div class="col-12">
                                            <p>
                                                <span style="float: left;">
                                                    <b>Vacancy : </b><u>{{ BioData.Title | uppercase }}</u>
                                                </span>
                                                <span style="float: right;">
                                                    <b>Submition Date : </b><u>{{ BioData.Created_Date | date }}</u>
                                                </span>                                                  
                                            </p>
                                                          
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <br />
                                <div class="e-card">
                                    <div class="e-card-header">
                                        <div class="e-card-header-caption"><div class="e-card-header-title"><b>Qualification</b></div></div>
                                    </div>
                                    <div class="e-card-content">
                                        <div class="row" *ngIf="Qualifications">
                                            <div class="col-12">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr><th>#</th><th>Certificate</th><th>From</th><th>To</th><th>Instituation</th><th>Subject</th></tr>
                                                        <tr *ngFor="let qua of Qualifications; let i = index">
                                                            <td> {{ i + 1 }}</td>
                                                            <td>{{ qua.certificate | uppercase }}</td>
                                                            <td>{{ qua.start_date | date }}</td>
                                                            <td>{{ qua.end_date | date}}</td>
                                                            <td>{{ qua.school | titlecase}}</td>
                                                            <td>{{ qua.subject | titlecase }}</td>
                                                        </tr>    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="e-card">
                                    <div class="e-card-header">
                                        <div class="e-card-header-caption"><div class="e-card-header-title"><b>Experiences</b></div></div>
                                    </div>
                                    <div class="e-card-content">
                                        <div class="row" *ngIf="Experiences">
                                            <div class="col-12">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr><th>#</th><th>Place Of Work</th><th>From</th><th>To</th><th>Position</th></tr>
                                                        <tr *ngFor="let exp of Experiences; let i = index">
                                                            <td> {{ i + 1 }}</td>
                                                            <td>{{ exp.place_of_work | titlecase }}</td>
                                                            <td>{{ exp.from_date | date }}</td>
                                                            <td>{{ exp.to_date | date }}</td>
                                                            <td>{{ exp.position | titlecase }}</td>
                                                        </tr>    
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                        </ng-template>
                    </e-tabitem>
            
                    <e-tabitem>
                        <ng-template #headerText>Comments</ng-template>
                        <ng-template #content>
                            <p></p>
                            <div class="row">
                                <div class="col-md-12">
                                <form [formGroup]="form">
                                    <ejs-textbox formControlName="Comment" placeholder="Write Your Remark Here..."
                                        float="Auto" [multiline]="true" rows="3">
                                    </ejs-textbox>
                                    <p><span *ngIf="comment.invalid && formSubmitted"><small style="color: red;">* required</small></span></p>
                                    <p>
                                        <button class="btn e-info" ejs-button ejs-button type="button" (click)="post_comment()" [disabled]="comment.value.length > 255">
                                            Post Remark
                                        </button>
                                        <span style="float: right;">{{ comment.value.length }} / 255</span>
                                    </p>
                                </form>
                                </div>
                            </div>
            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="list-group" *ngIf="comments.length > 0">
                                        <li class="list-group-item disabled" *ngFor="let comment of comments">
                                            <p class="mb-1">{{ comment.body }}</p>
                                            <p style="float: right;">
                                                <small><b>{{ comment.created_date | date }}</b></small>
                                                <small><b>{{ ', By ' + comment.comment_by | titlecase }}</b></small> 
                                            </p>
                                        </li>
                                    </div>  
                                </div>
                            </div>
                        </ng-template>
                    </e-tabitem>        
                </e-tabitems>
            </ejs-tab> 
        </div>
        <div *ngIf="!is_internal">
            <ejs-tab id="element">
                <e-tabitems>
                <e-tabitem>
                    <ng-template #headerText>Application CV</ng-template>
                    <ng-template #content>
                        <p></p>
                        <div class="card main" id="doc">
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>Applicant Basic Info</b></div>
                                </div>
                            </div>
                            <div class="e-card-content">
                                <div class="row" *ngIf="BioData">
                                    <div class="col-md-3">
                                        <p align="left" *ngIf="!BioData.Photo && BioData.Gender === 'Female'">
                                            <img src="../../../assets/no_photo_female.png" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                        </p>
                                        <p align="left" *ngIf="!BioData.Photo && BioData.Gender === 'Male'">
                                            <img src="../../../assets/no_photo_male.png" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                        </p>
                                        <p align="left" *ngIf="BioData.Photo">
                                            <img [src]="BioData.Photo" class="img-thumbnail" style="width: 80%; height: 80%;" />
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><b>Full Name : </b><u>{{ BioData.FirstName | titlecase }}{{ BioData.Surname | titlecase }}</u></p>
                                        <p><b>Gender : </b><u>{{ BioData.Gender | titlecase }}</u></p>
                                        <p><b>Date Of Birth : </b><u>{{ BioData.Dob | date }}</u></p>
                                        <p><b>Disability : </b><u>{{ BioData.Disability === 'True' ? 'Yes' : 'No' }}</u></p>              
                                        <p><b>Email : </b><u>{{ BioData.Email | titlecase }}</u></p>
                                        <p><b>Phone Number : </b><u>{{ BioData.Phone | titlecase }}</u></p>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>Application</b></div> 
                                </div>
                            </div>
                            <div class="e-card-content" *ngIf="BioData">
                                <p><b>Position : </b><u>{{ BioData.Title | uppercase }}</u></p>
                                <p><b>Applicatio Date : </b><u>{{ BioData.Created_Date | date }}</u></p>
                                <p><b>Document : </b>
                                    <a href="http://192.168.1.2/smartrecuritement/applicant/{{BioData.Document}}"target="blank">View Document</a>
                                </p>
                            </div>
                        </div>
                        <br />
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>Qualifications</b></div>
                                </div>
        
                            </div>
                            <div class="e-card-content">
                                <table class="table table-sm">
                                    <thead>
                                        <tr align="center"><th>#</th><th>Qualification</th><th>Institution</th><th>From</th><th>To</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let quali of Qualifications; let i = index" align="center">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ quali.Qualification }}</td>
                                            <td>{{ quali.Institution }}</td>
                                            <td>{{ quali.From | date }}</td>
                                            <td>{{ quali.To | date }}</td>
                                        </tr>
                                        <tr align="center" *ngIf="Qualifications && Qualifications.length === 0">
                                            <td colspan="4">-- No Qualifications --</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>Expriences</b></div>
                                </div>
                            </div>
                            <div class="e-card-content">
                                <table class="table table-sm">
                                    <thead>
                                        <tr align="center">
                                            <th>#</th><th>Employeer</th><th>Address</th><th>From</th><th>To</th>
                                            <th>Job Title</th><th>Salary</th><th>Notice</th><th width="30%">Achievements</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let exp of Experiences; let i = index" align="center">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ exp.EmployerName | titlecase }}</td>
                                            <td>{{ exp.EmployerAddress | titlecase }}</td>
                                            <td>{{ exp.EmployedFrom | date }}</td>
                                            <td>{{ exp.EmployedTo | date }}</td>
                                            <td>{{ exp.JobTitle | titlecase }}</td>
                                            <td>{{ exp.Salary | currency }}</td>
                                            <td>{{ exp.Notice | titlecase }}</td>
                                            <td align="left">{{ exp.Achievements | titlecase }}</td>
                                        </tr>
                                        <tr align="center" *ngIf="Trainings && Trainings.length === 0">
                                            <td colspan="4">-- No Trainings --</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>References</b></div>
                                </div>
                            </div>
                            <div class="e-card-content">
                                <table class="table table-sm">
                                    <thead>
                                        <tr align="center">
                                            <th>#</th><th>Full Name</th><th>Job Title</th><th>Relationship</th><th>Address</th>
                                            <th>Email</th><th>Phone</th><th>Can We Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody align="center">
                                        <tr *ngFor="let ref of References; let i = index" align="center">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ ref.FullName | titlecase }}</td>
                                            <td>{{ ref.JobTitle | titlecase }}</td>
                                            <td>{{ ref.Relationship | titlecase }}</td>
                                            <td>{{ ref.Address | titlecase }}</td>
                                            <td>{{ ref.Email | titlecase }}</td>
                                            <td>{{ ref.Phone | titlecase }}</td>
                                            <td>{{ ref.CanWeContact | titlecase }}</td>
                                        </tr>
                                        <tr *ngIf="References && References.length === 0">
                                            <td colspan="7">-- No References --</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br />
                        <div class="e-card">
                            <div class="e-card-header">
                                <div class="e-card-header-caption">
                                    <div class="e-card-header-title"><b>Trainings</b></div>
                                </div>
                            </div>
                            <div class="e-card-content">
                                <table class="table table-sm">
                                    <thead>
                                        <tr align="center"><th>#</th><th>Course</th><th>Details</th><th>From</th><th>To</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let tra of Trainings; let i = index" align="center">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ tra.Course | titlecase }}</td>
                                            <td>{{ tra.From | date }}</td>
                                            <td>{{ tra.To | date }}</td>
                                            <td>{{ tra.Details | titlecase }}</td>
                                        </tr>
                                        <tr align="center" *ngIf="Trainings && Trainings.length === 0">
                                            <td colspan="4">-- No Trainings --</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>Cover Letter</ng-template>
                    <ng-template #content>
                        <div class = "e-card">                   
                            <div class="e-card-content">
                                <div [innerHTML]="BioData.CoverLetter | htmlSanitaizer"></div>
                            </div>         
                        </div>
                    </ng-template>
                </e-tabitem>
                <e-tabitem>
                    <ng-template #headerText>Comments</ng-template>
                    <ng-template #content>
                    <p></p>
                    <div class="row">
                        <div class="col-md-12">
                        <form [formGroup]="form">
                            <ejs-textbox formControlName="Comment" placeholder="Write Your Remark Here..."
                                float="Auto" [multiline]="true" rows="3">
                            </ejs-textbox>
                            <p><span *ngIf="comment.invalid && formSubmitted"><small style="color: red;">* required</small></span></p>
                            <p>
                                <button class="btn e-info" ejs-button ejs-button type="button" (click)="post_comment()" [disabled]="comment.value.length > 255">
                                    Post Remark
                                </button>
                                <span style="float: right;">{{ comment.value.length }} / 255</span>
                            </p>
                        </form>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group" *ngIf="comments.length > 0">
                                <li class="list-group-item disabled" *ngFor="let comment of comments">
                                    <p class="mb-1">{{ comment.body }}</p>
                                    <p style="float: right;">
                                        <small><b>{{ comment.created_date | date }}</b></small>
                                        <small><b>{{ ', By ' + comment.comment_by | titlecase }}</b></small> 
                                    </p>
                                </li>
                            </div>  
                        </div>
                    </div>
        
                    </ng-template>
                </e-tabitem>
                </e-tabitems>
            </ejs-tab>
        </div>
    </ng-template>

    <p></p>
</ejs-dialog>


