<div [formGroup]="experienceForm">
    <div formArrayName="experienceArray" class="main-container">
        <div class="section" *ngFor="let exp of experiences.controls; let i = index; let last = last" [formGroup]="exp">
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="employerName">Employer</label>
                        <input type="text" formControlName="employerName" class="form-control" id="employerName" />
                        <div class="text-danger" *ngIf="
                submitted &&
                exp.errors &&
                exp.get('employerName').errors['required']
              ">
                            <small>*Employer name is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="employerAddress">Address</label>
                        <input type="text" formControlName="employerAddress" class="form-control" id="employerAddress" />
                        <div class="text-danger" *ngIf="
                submitted &&
                exp.errors &&
                exp.get('employerAddress').errors['required']
              ">
                            <small>*Address is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-1 buttons">
                    <button (click)="addExperience()" *ngIf="last" [ngClass]="exp.invalid ? 'btn-warning' : 'btn-primary'" [disabled]="exp.invalid" class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
                    <button class="btn btn-danger" (click)="deleteExperience(i)">
            <i class="fa fa-trash "></i>
          </button>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="start-date">Employed From</label>
                        <div class="input-group">
                            <input type="date" formControlName="startDate" class="form-control" placeholder="yyyy-mm-dd" name="start-date" />
                            <div class="text-danger" *ngIf="
                  submitted &&
                  exp.errors &&
                  exp.get('startDate').errors['required']
                ">
                                <small>*Start date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="end-date">To</label>
                        <div class="input-group">
                            <input type="date" formControlName="endDate" class="form-control" placeholder="yyyy-mm-dd" name="end-date" />
                            <div class="text-danger" *ngIf="
                  submitted &&
                  exp.errors &&
                  exp.get('endDate').errors['required']
                ">
                                <small>*End date is required*</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="fullName">Job title</label>
                        <input type="text" formControlName="jobTitle" class="form-control" id="job-title" />
                        <div class="text-danger" *ngIf="
                submitted &&
                exp.errors &&
                exp.get('jobTitle').errors['required']
              ">
                            <small>*Job title is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="achievments">Achievment</label>
                        <input type="text" formControlName="achievements" class="form-control" id="achievment" />
                    </div>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        <input type="text" formControlName="salary" class="form-control" id="salary" />
                        <div class="text-danger" *ngIf="
                submitted && exp.errors && exp.get('salary').errors['required']
              ">
                            <small>*Salary is required*</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="reasonForleaving">Reason for leaving</label>
                        <input type="text" formControlName="reasonLeaving" class="form-control" id="reasonForLeaving" />
                        <div class="text-danger" *ngIf="
                submitted &&
                exp.errors &&
                exp.get('reasonLeaving').errors['required']
              ">
                            <small>*Reason is required*</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-sec row">
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="notice">Notice</label>
                        <input type="text" formControlName="notice" class="form-control" id="notice" />
                    </div>
                </div>
                <div class="col-md-5 col-xs-1">
                    <div class="form-group">
                        <label for="carrerLevel">Carrer level</label>
                        <input type="text" formControlName="carrerLevel" class="form-control" id="carrerLevel" />
                        <div class="text-danger" *ngIf="
                submitted &&
                exp.errors &&
                exp.get('carrerLevel').errors['required']
              ">
                            <small>*Carrer level is required*</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button type="button" (click)="addExperience()" class="btn btn-success" *ngIf="experiences.length == 0">
    <i class="fa fa-plus ">Add</i>
  </button>
</div>