<p></p>
<ngb-alert *ngIf="System_Message.show" [type]="System_Message.cssStyle" (close)="System_Message.show = false">
    <font size="2">{{ System_Message.content }}</font>
</ngb-alert>
<smart-recruitment-frontend-data-table [gridData]="Requests" [searchField]="searchField" [showFilter]="true"
    [showAdd]="true" [showSearch]="true" [incomingCommand]="incomingCommand" [incomingToolbar]="incomingToolbar"
    [columens]="columensToDisplay" (editRecord)="edit($event)" (deleteRecord)="delete($event)"
    (addRecord)="addRequest($event)" [height]="600" [editPrivilage]="'viewJobRequest'"
    [addPrivilage]="'createJobRequest'" [deletePrivilage]="'deleteRequest'">
</smart-recruitment-frontend-data-table>
<smart-recruitment-frontend-toast #notif></smart-recruitment-frontend-toast>